[2019-02-07 15:25] rix0rrr opened #1 "chat-app example doesn't work"
When I try to compile it, I get the following errors:

[code]

Seems like it's using a hardcoded S3 bucket that I don't have access to. That should probably be replaced with assets.

[2019-02-26 02:11] foscraig opened #11 "Access to CloudFormation layer should be documented for all languages"
There's lots of TypeScript examples, but I think it's a priority to at least document clearly the "escape hatch" method in all languages as the CDK continues to evolve and might not have all features implemented. For example, I'm trying to access a resource in Java and it's not clear to me how to have the equivalent of `project.node.findChild("Resource")`.

[2019-02-26 13:22] Doug-AWS commented on #11
I've added a link to this in https://github.com/awslabs/aws-cdk/issues/1864

[2019-03-05 17:07] SoManyHs opened #12 "Update samples using `addDefaultAutoScalingGroupCapacity`"
`addDefaultAutoScalingGroupCapacity` was deprecated in 0.25.0. Change to addCapacity

See: https://github.com/awslabs/aws-cdk/commit/e3738acfcbeb9d3b8c97ecee2cb8b9b00e822ed2

Related: https://github.com/awslabs/aws-cdk/issues/1926

[2019-03-05 18:12] SoManyHs opened #13 "Automate keeping package.json in sync with latest CDK version"
Any updates to CDK construct libs require manual update of package.json in every example. We should probably try to figure out a better way to do this.

[2019-03-06 09:57] #12 closed

[2019-04-01 13:39] eladb opened #23 "ECS cluster example build fails with latest CDK"
The [ECS cluster](https://github.com/aws-samples/aws-cdk-examples/blob/master/typescript/ecs/cluster) example fails when built against the latest CDK with the following error:

[code]

[2019-04-10 23:30] SoManyHs commented on #23
Should be fixed by https://github.com/aws-samples/aws-cdk-examples/pull/26

[2019-04-10 23:30] #23 closed

[2019-04-11 16:39] Fejuto opened #30 "Bug in task-definition.js -- must have at least one of 'memoryLimitMiB' or 'memoryReservationMiB' specified"
memoryLimitMiB is not optional at the moment while it should be; validate doesn't check for  memoryReservationMiB.

[code]

[2019-04-14 23:38] #30 closed

[2019-04-16 15:49] rix0rrr opened #32 "Figure out why override with null is causing an error"
See

https://github.com/aws-samples/aws-cdk-examples/blob/master/typescript/resource-overrides/index.ts#L55

[2019-04-26 15:31] powellquiring opened #36 "my-widget-service example does not work - Cannot find module './widget_service'."
Tried the following as suggested in the README:
[code]
results:
[code]

[2019-04-26 17:18] Doug-AWS commented on #36
I'll get this sorted out, probably next week.

[2019-05-20 05:17] Gaafar commented on #36
seems that the code for `widget_service` is still missing

[2019-05-20 08:17] oeeckhoutte opened #40 "s3 event (new file uplodaded) never triggers lambda"
Hi guys,

I discovered CDK 2 weeks ago and spent couple of days playing with it.
It seems to be very promising.

I struggled a lot this weekend trying to invoke a lambda function when I upload manually a file in s3 bucket. For some reasons my lambda function seems to never be called.
Could someone tell me what is wrong with my code ? I tried many things: on_event, event sources but it never works.

[2019-05-20 20:25] Doug-AWS commented on #36
Try it now.

[2019-05-21 00:13] Gaafar commented on #36
yep, thanks!

[2019-05-21 13:17] #36 closed

[2019-05-23 10:10] oeeckhoutte commented on #40
I solved my issue. the (mandatory) prefix="*" in the on_event with a star is not working...

[2019-05-23 10:10] #40 closed

[2019-05-27 13:47] simalexan commented on #13
They don't, they are automatically set to the highest version:
Example: `"@aws-cdk/cdk": "*"`
And thats set within tests too, the tests will fail if a version is set.

[2019-05-30 14:59] dmonteiro-paddle opened #45 "EventRule must be changed to Rule"
On the examples for python using the cdk, there's an example for lambda-cron that doesn't work when doing the cdk synth command.

AttributeError: module 'aws_cdk.aws_events' has no attribute 'EventRule'

After taking a look on the cdk code, i could verify that EventRule has been changed to Rule only.

https://github.com/awslabs/aws-cdk/blob/master/packages/%40aws-cdk/aws-events/lib/rule.ts

This i

[2019-05-31 08:52] simalexan commented on #45
@dmonteiro-paddle it should be fixed now. @eladb fixed those

[2019-05-31 10:01] dmonteiro-paddle commented on #45
awesome!

[2019-05-31 10:01] #45 closed

[2019-06-05 10:13] simalexan commented on #13
@SoManyHs I think this one is solved already, as per comment above.

@rix0rrr what do you think?

[2019-06-05 10:13] rix0rrr commented on #13
Yep, you are right.

[2019-06-05 10:13] #13 closed

[2019-06-05 10:43] simalexan commented on #13
@rix0rrr thank you for your quick review!

[2019-06-10 06:09] mikeycoxon opened #48 "api-cors-lambda-crud-dynamodb needs asset s3"
the `cdk deploy --profile myprofile` action doesn't work, complaining that: "This stack uses assets, so the toolkit stack must be deployed to the environment". Not easy to find the fix for this.

Perhaps some doco on where to get this toolkit stack from? else info on using the cdk bootstrap command, in particular, what is an environment (i have heard of that in terms of elastic beanstalk, but what

[2019-06-12 22:08] NGL321 opened #49 "Typescript examples fail to run support scripts with latest CDK releases"
**Describe the bug**
The support scripts will no longer build with the latest releases of the CDK. They fail with the below error.

**To Reproduce**
Attempt to run either "scripts/build.sh" OR "scripts/build-npm.sh"

**Expected behavior**

[code]

**Version:**
 - OS: OSX-10.13.6 (High Sierra)
 - Programming Language: Typescript
 - CDK Version: 0.34.0

[2019-06-13 17:12] NGL321 commented on #49
Fixed with PR #50.
Problem may exist for other language bindings. Will investigate and create new issues appropriately

[2019-06-13 17:12] #49 closed

[2019-06-20 07:13] vidanov opened #54 "schedule: events.Schedule should be implemented"
https://github.com/aws-samples/aws-cdk-examples/blob/master/typescript/lambda-cron/index.ts
The example is wrong and does not work for 0.35
please replace with schedule: events.Schedule and put more usage examples.

[2019-06-26 09:11] nmussy opened #60 "api-cors-lambda-crud-dynamodb TypeScript AssetCode"
I'm having a hard time understanding how the [api-cors-lambda-crud-dynamodb](https://github.com/aws-samples/aws-cdk-examples/tree/master/typescript/api-cors-lambda-crud-dynamodb/) example Lambdas would execute. The `AssetCode` given to the functions are TypeScript files, and the runtime is a plain `NodeJS810`.

I've tried doing similar in with `aws-cdk@0.36.0`, but I can't figure out how these fil

[2019-06-27 10:26] tom98784 opened #61 "Deprecated aws-cdk/cdk in use"
The Python examples (I haven't looked at other languages) use the just-deprecated aws-cdk/cdk module. This has been replaced with the aws-cdk/core module (see [here](https://github.com/awslabs/aws-cdk/blob/master/CHANGELOG.md).)
The fix may well be as simple as replacing all references to aws-cdk/cdk to aws-cdk/core.

[2019-06-27 10:28] tom98784 commented on #61
https://github.com/awslabs/aws-cdk/blob/master/CHANGELOG.md

0.36.0 (2019-06-24)
...
BREAKING CHANGES
IMPORTANT: previous versions of the CDK CLI will not be fully compatible with this version of the framework and vice versa.
core: the @aws-cdk/cdk module was renamed to @aws-cdk/core, python: aws_cdk.core, java: the artifact cdk in groupId software.amazon.awscdk was renamed to core
...

[2019-06-27 17:19] tbadlov commented on #61
I am working on a PR that addresses these issues (at least for the typescript portion).

[2019-07-02 21:04] oren commented on #61
I am getting an error which I assume is related:
[code]

project: Fargate Service with Logging. CDK version: 0.36.1 (build 1ba8a14)

[2019-07-02 22:36] tom98784 commented on #61
The PR referenced above (#62) includes changes that will bring the TS Fargate w. logging up to date with 0.36.x. They're relatively minor so it's easy to find them in the PR and apply them yourself.

[2019-07-02 22:41] tom98784 commented on #61
Saved you the searching - here's the three updated files
[typescript/ecs/ecs-service-with-logging/index.ts](https://github.com/aws-samples/aws-cdk-examples/pull/62/files#diff-b9d29a9b23ab48df049b37d33a223ce0)
[typescript/ecs/ecs-service-with-logging/package.json](https://github.com/aws-samples/aws-cdk-examples/pull/62/files#diff-2ccb53610e7214439da6d7e01c391538)
[typescript/ecs/ecs-service-with-lo

[2019-07-03 13:09] #61 closed

[2019-07-07 01:57] oren commented on #61
Thank you!

[2019-07-07 19:04] NGL321 opened #68 "resource-override "Encountered unsupported property Token" for s3"
`cdk deploy` fails due with below terminal output from committed version of repo.

No additional repro steps

CDK Version: 0.37.0
Module Version: 0.23.0
OS: MacOS High Sierra (zsh shell)

[code]

[2019-07-07 19:05] NGL321 commented on #68
@rix0rrr @eladb I feel like I'm missing something here. I will investigate a fix more tomorrow.

[2019-07-08 08:48] rix0rrr commented on #68
Ehm. This is not a working example.

[2019-07-08 08:48] rix0rrr commented on #68
Check out all the crazy shit this code does:

[code]

[2019-07-08 08:49] rix0rrr commented on #68
I will make that clear in a README :)

[2019-07-08 15:10] #68 closed

[2019-07-10 07:55] tmpm697 opened #73 "add my-widget-service in python"
Can you help to port from typescript to python? Need some samples of apiGateway with Lambda.

[2019-07-15 16:00] yyolk opened #79 "typescript/appsync-graphql-dynamodb doesn't deploy"
I've encountered several issues trying to build the typescript/appsync-graphql-dynamodb example

my first stab at issues encountered are with #78

First issues are, managed policy name is invalid:

[code]

next, it fails to create any of the Query's because a reference in `ApiSchema` to the `itemsTable` exists through locals, but due to the stand-up-order, an `addDependsOn` is required for it to s

[2019-07-20 08:53] derektumulak opened #82 "CREATE_FAILED when running "cdk deploy""
Hi, I am new to CDK and considering using it. I am trying to get the AppSyncGraphQLDynamoDB example working. When I run `cdk deploy` I get the following error:

[code]
Any suggestions?

Thanks,
-Derek

[2019-07-21 19:24] rhboyd commented on #82
I'll dig into the example to find the bug, but it's probably related to a change in how AWS-managed policies are referenced.

arn:aws:iam::aws:policy/arn:aws:iam::aws:policy/AmazonDynamoDBFullAccess

should be
arn:aws:iam::aws:policy/AmazonDynamoDBFullAccess

It used to require the full ARN, but a recent change in CDK made it possible to just specify the name and the toolkit will prepend the rest

[2019-07-21 19:26] rhboyd commented on #82
Here's the change you should make locally to get it to work

https://github.com/aws-samples/aws-cdk-examples/pull/86/commits/83e181e6806db4097b50b3ab4377874e88336acd

[2019-07-21 19:28] rhboyd commented on #79
Here's the fix for the DynamoDB Role.

https://github.com/aws-samples/aws-cdk-examples/pull/86/commits/83e181e6806db4097b50b3ab4377874e88336acd

[2019-07-21 23:41] derektumulak commented on #82
Thank you for the quick response Richard. That got me past the error. Another error has now shown up:

 5/12 | 23:37:25 | CREATE_FAILED        | AWS::AppSync::Resolver      | GetAllQueryResolver No data source found named ItemsDynamoDataSource (Service: AWSAppSync; Status Code: 404; Error Code: NotFoundException; Request ID: 7dffc897-ac10-11e9-9f96-cbb7bbb1a52a)

Best,
-Derek

[2019-07-22 19:39] zastrau opened #87 "CfnJob (aws_glue): jsii.errors.JavaScriptError"
I'm trying to create a Glue job (`aws_cdk.aws_glue.CfnJob`) here, but I'm failing to set the `command` attribute...

   `from aws_cdk import (
        aws_glue as glue,
        aws_iam as iam,
        core
    )

    class ScheduledGlueJob (core.Stack):

    def __init__(self, scope: core.Construct, id: str, **kwargs) -> None:
        super().__init__(scope, id, **kwargs)

        policy_statement

[2019-07-23 13:31] #87 closed

[2019-07-24 19:52] paritosh16 opened #89 "Argument of type 'Function' is not assignable to parameter of type 'IFunction'."
OS: macOS 10.14.6
aws-cdk/core: 1.0.0
aws-cdk/aws-lambda: 1.0.0
aws-cdk/aws-events: 1.1.0
aws-cdk/aws-events-targets: 1.1.0
cdk: 1.0.0 (build d89592e)

I am trying to create a stack similar to the [lambda-cron](https://github.com/aws-samples/aws-cdk-examples/blob/master/typescript/lambda-cron/index.ts) example.

While adding lambda function to rule, it is erring out.

Add a lambda function as a ta

[2019-07-24 21:14] yyolk commented on #82
@derektumulak I get the same error as you. see #78 if you want a workaround for that example until @rhboyd comments in that PR are addressed

[2019-07-24 22:49] derektumulak commented on #82
Thanks Joseph. I’ll take a look at your suggestion.

Best,
Derek

[2019-07-26 20:44] sblackstone opened #91 "RDS cluster example: Cannot read property 'secretRotationApplication'"
[code]

[2019-07-29 01:52] rhboyd commented on #89
This is a hack that'll make it work, but I would open an Issue on the CDK repo for this. To get you unstuck, you can probably use the from­Function­Arn(functionArn=queueConsumer. functionArn()) method to swap out a real Function for an IFunction.

https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-lambda.Function.html#static-from-function-arnscope-id-functionarn

[2019-07-29 01:57] rhboyd commented on #89
it's odd. LambdaFunction implements IFunction, so your code should work the way it is.

https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-lambda.Function.html

[2019-07-29 17:46] paritosh16 commented on #89
Absolutely! It should work the way it is but for some reason it isn't. It isn't working with the hack also. The error with the hack is:

[code]

I am totally stuck here. I'll open an issue on the CDK repo.

[2019-07-29 18:02] rhboyd commented on #89
This seems odd, should they be nested that way?
`cdk-test/node_modules/@aws-cdk/aws-secretsmanager/node_modules/@aws-cdk/aws-lambda/lib/function-base`

[2019-08-03 05:20] rhboyd opened #93 "Static Site will incorrectly create a new Hosted Zone"
Because the example relies on an ACM Cert already existing, this would imply that the Hosted Zone already exists. The TypeScript static-site example will create a new Hosted Zone and the DNS Resolution will fail because the the new HZ is not the authority for the domain.

https://github.com/aws-samples/aws-cdk-examples/blob/8eae959ec8e409ba6d861650dcfa4bae1bbee56e/typescript/static-site/static-sit

[2019-08-07 18:42] jewelsjacobs commented on #93
You can replace this with a lookup. I'm not sure the best way to implement this in the example though.

[code]

[2019-08-07 23:42] rhboyd commented on #93
When I added the Python example I ask the user to supply the Hosted Zone's information so we could do the lookup.

[2019-08-07 23:48] rhboyd opened #99 "These stacks aren't going to clean themselves"
Example apps should include necessary parameters so that resources are properly cleaned up with with `cdk destroy`. For example, setting S3 RemovalPolicy.DESTROY on all example buckets.

This would be a good first issue for a contributor.

[2019-08-08 00:00] hellnation commented on #99
The suggestion is that the standard for aws-sdk-examples should be that roundtripping an example through cdk deploy/destroy shouldn't leave anything in the account wherever possible, and if it does it should be mentioned in the example code comments.

You mentioned DynamoDB as being similarly affected. I will see if there's something similar that can be done for them.

[2019-08-08 01:10] hellnation commented on #99
In testing, I note that the behaviour for DynamoDB is different - it will delete the Table even if there is data in it (whereas S3 will error if the Bucket is not empty). I have adjusted the comments next to the code accordingly.

[2019-08-14 03:05] kaihendry opened #102 "The certificate that is attached to your distribution doesn't cover the alternate domain name (CNAME) that you're trying to add"
## :bug: Bug Report

### What is the problem?
Ran into a bunch of issues running https://github.com/aws-samples/aws-cdk-examples/tree/master/typescript/static-site/

Last one being

**The certificate that is attached to your distribution doesn't cover the alternate domain name (CNAME) that you're trying to add**

### Reproduction Steps

    cdk deploy -c domain=webconverger.com -c subdomain=talks

[2019-08-20 03:46] kaihendry commented on #102
Just tried with cdk `1.4.0 (build 175471f)`, same issue.

[2019-08-20 07:32] brad-jones commented on #102
We are running into the issue too, we had a bunch of stacks deployed with multiple aliases, some of which were not covered by the cert, which we were fine with as these additional names were only used internally.

Possibly related to https://aws.amazon.com/about-aws/whats-new/2019/04/amazon-cloudfront-enhances-the-security-for-adding-alternate-domain-names-to-a-distribution/

[2019-08-28 12:58] rakanbakir opened #108 "InvalidParameterException"
## :bug: Bug Report

### What is the problem?
When I tried to deploy the example ecs-load-balanced-service, I got the below error

45/53 | 1:35:19 PM | CREATE_FAILED        | AWS::ECS::Service                         | Ec2Service/Service/Service (Ec2Service398F0E46) The new ARN and resource ID format must be enabled to work with ECS managed tags. Opt in to the new format and try again. (Service: A

[2019-08-28 21:36] surya-narayanan opened #109 "Using AWS from CLI"
Hi, I am trying to use CDK deploy from the command line and on some default python resources, from https://github.com/aws-samples/aws-cdk-examples.

When I install the dependencies successfully and try deploying, I get the following messages.

One possible reason is a firewall, but I'm not on one. The message is exactly

"Inaccessible host: cloudformation.oregon.amazonaws.com'. This service may no

[2019-08-28 23:18] shivlaks commented on #109
hey @surya-narayanan

At first glance, it seems like you've incorrectly configured your region in the AWS CLI. can you try running `aws configure` and setting `us-west-2` as your region (which represents Oregon).

here are the regions supported by[cloudformation](https://docs.aws.amazon.com/general/latest/gr/rande.html#cfn_region), which the CDK CLI will call.

Let me know if deploy runs  for you

[2019-08-28 23:26] surya-narayanan commented on #109
No, my default region is Oregon

[2019-08-28 23:39] shivlaks commented on #109
do cli commands work for you with `Oregon` as the region?

can you point to the example you're trying to use. seems like there's at least a gap where they're missing the `README`. From what I can tell the autoscaling module installs fine for me. Can you provide the the commands you're running and more verbose output ?

[aws-cdk.aws-autoscaling on PIP](https://pypi.org/project/aws-cdk.aws-autoscali

[2019-08-29 09:06] rakanbakir commented on #108
it appeared to be not a bug, I had to enable the new ARN and resource ID format.

https://aws.amazon.com/blogs/compute/migrating-your-amazon-ecs-deployment-to-the-new-arn-and-resource-id-format-2/

[2019-08-29 09:06] #108 closed

[2019-08-29 09:20] tom98784 commented on #108
Could still be worth documentating that in the example if it's not obvious? (I haven't tried that example myself)

[2019-08-29 09:24] rakanbakir commented on #108
yes its should be documented on all ECS examples, who should do that?

On Thu, Aug 29, 2019 at 12:20 PM Tom Dufall <notifications@github.com>
wrote:

[2019-08-29 20:21] zoonman opened #110 "How to include node_modules when using typescript aws-cdk?"
## :question: How to include node_modules using typescript aws-cdk?

My lambda is supposed to rely on the whole bunch of different modules, part of which is private.
How should I tackle this problem with conformity with aws-cdk?

### Environment

  - **CDK CLI Version:** 1.6.0 (build 3a0cde0)
  - **OS:** all
  - **Language:**  TypeScript

### Other information

Could you provide example when used

[2019-08-30 00:57] shivlaks commented on #108
Related issue: aws/aws-cdk#3844

[2019-08-30 01:46] akshayamalik commented on #108
Hi , facing the same issue when I am doing deployment with CDK. Any fix or workaround for this ?

[2019-08-30 01:48] shivlaks commented on #108
you'll need to enable the new ARN and resourceId format as described in this [blog post](https://aws.amazon.com/blogs/compute/migrating-your-amazon-ecs-deployment-to-the-new-arn-and-resource-id-format-2/)

[2019-08-30 01:56] akshayamalik commented on #108
Is this

Is this something introduced in v >1.4 because I was able to successfully deploy with the same code yesterday and since I have upgraded to 1.6 ,I am facing this problem.

[2019-08-30 02:18] shivlaks commented on #108
I do think I saw some changes related to managed tags / propagation that were introduced in the latest release. can you please add your observed behavior to the related issue I linked above?

[2019-08-30 19:31] surya-narayanan commented on #109
These seem to have worked for me. Thank you very much for your help.

[2019-08-30 19:31] #109 closed

[2019-08-30 19:35] surya-narayanan opened #111 "NPM build does not work on the AutoScaling example"
After running npm install, I tried running npm run build and it does not work with the error "npm ERR! missing script: build". Any advice would be appreciated.

[2019-08-30 21:40] shivlaks commented on #111
I recommend checking out our [Gitter](https://gitter.im/awslabs/aws-cdk), or [Stack Overflow](https://stackoverflow.com/questions/tagged/aws-cdk) and asking this question on there.
A link to the template you're attempting to use and reproduction steps will get you a quicker response.

We try to reserve Github issues for bugs, feature requests, and questions regarding a very specific problem. For n

[2019-08-30 21:40] #111 closed

[2019-08-30 21:41] AtomicCactus commented on #89
A somewhat dirty workaround that worked for me:

[code]

Basically using `require` instead of `import` solved the problem

[2019-09-01 13:31] tsykora-verimatrix commented on #108
Even if I opt in for the new ARN format, destroy the ECS stack and deploy again - I still get the error above.
When I disable all tagging in my CDK app the behaviour won't change, I still get the error.
I'm using CDK 1.6.1.

100/101 | 3:27:32 PM | CREATE_FAILED        | AWS::ECS::Service                           | xxxxx/Service (xxxxxx) The new ARN and resource ID format must be enabled to work w

[2019-09-02 01:30] rhboyd commented on #102
This issue should be opened with the https://github.com/aws-samples/aws-cdk-examples repository.

[2019-09-02 01:37] rhboyd commented on #102
There's a few problems with the Typescript static-site example because of breaking changes since the example was created.

1.) It will attempt to create a new ACM Cert instead of loading an existing one.
[these lines](https://github.com/aws-samples/aws-cdk-examples/blob/master/typescript/static-site/static-site.ts#L45-L47) should be replaced with something like

`const certificateArn = acm.Certifi

[2019-09-04 11:40] pahud opened #112 "Create FargateService with existing FargateTaskDefinitionArn"
## :question: Guidance Question

I am trying to create a `ecs.FargateService` with existing `fargateTaskDefinitionArn`. However, the `taskDefinition` property expects `ecs.TaskDefintion` but `fromFargateTaskDefinitionArn()` returns `ecs.IFargateTaskDefinition`.

Any sample or guidance is appreciated.

<img width="818" alt="圖片" src="https://user-images.githubusercontent.com/278432/64251029-23ffb180

[2019-09-05 23:02] NGL321 opened #114 "SAM Example"
## :rocket: Feature Request

### General Information

* [x] :wave: I may be able to implement this feature request

### Description

Example for using the CDK with AWS SAM as detailed [here](https://github.com/aws/aws-cdk/issues/716)

_EDIT: See [here](https://gist.github.com/ranguard/3befa8344678c9fe90f34a81e3a5ca8d) for example

[2019-09-06 08:19] kaihendry opened #115 "Environment mapping to AWS Systems Manager Parameter Store"
## :rocket: Feature Request

### General Information

* [X] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

https://github.com/aws-samples/aws-cdk-examples/tree/master/typescript/ecs realistically needs examples of how to setup the environment, ideally with secrets found in AWS ssm. This is typical use case for de

[2019-09-09 05:22] kaihendry opened #116 "cdk.json"
What generates the cdk.json that `--app is required either in command-line, in cdk.json or in ~/.cdk.json` demands? I end up just creating the `cdk.json` file like so manually: `{ "app": "node index" }`

[2019-09-09 08:57] kossmoboleat opened #117 "typescript Elastic Beanstalk: cdk deploy fails with CREATE_FAILED"
## :bug: Bug Report

### What is the problem?

The example (typescript/elasticbeanstalk/elasticbeanstalk-environment) fails to deploy with the message:

[code]

### Reproduction Steps

- modified the platformARN to region 'eu-central-1' for my account, because the example for the 'us-east-1' region cannot be used with my account.
- Follow the steps in the README.md
- `cdk deploy --profile MY_PROFI

[2019-09-09 09:46] kossmoboleat commented on #117
I've read that this issue sometimes appears if there's a "service role" missing. I'm currently using my regular admin user with all permissions and the example doesn't specify the Elastic Beanstalk service role as it seems. Is that missing from the config in the example?

Here's a stackoverflow question regarding this:
https://stackoverflow.com/questions/53392302/environment-failed-to-launch-as-it

[2019-09-09 15:36] rhboyd commented on #116
it's usually generated when you run [`cdk init sample-app`](https://github.com/aws/aws-cdk/blob/master/packages/aws-cdk/lib/init-templates/sample-app/typescript/cdk.template.json) or [`cdk init app`](https://github.com/aws/aws-cdk/blob/master/packages/aws-cdk/lib/init-templates/app/typescript/cdk.template.json).

if you've found examples in the aws-cdk-examples repo that don't have the required co

[2019-09-09 15:38] #116 closed

[2019-09-10 07:11] kaihendry commented on #115
Keep hitting **SSM Secure reference is not supported in: [AWS::ECS::TaskDefinition/Properties/ContainerDefinitions]** whilst trying to use ssm to fill in secret environment variables.

https://docs.aws.amazon.com/cdk/latest/guide/get_ssm_value.html

[2019-09-12 08:12] zanhsieh opened #119 "Cdk python document mixed with Node.js code example"
## :bug: Bug Report

### What is the problem?
Python document mixed with node.js code. For example, construct a new Vpc:

https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_ec2/Vpc.html

[code]
This is node.js / typescript code, not python code.

Advanced Subnet Configuration
Connection Peers
....

https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_ec2.README.html

Amazon ECR

[2019-09-13 10:28] tom98784 commented on #119
Unfortunately, this happens rather a lot in the Python documentation - I've also seen variables written camel-case when they're actually snake case in Python.

This is just the samples repo though, so this is probably best raised on the CDK repo unless there are examples of it in the documentation with the examples here.
[https://github.com/aws/aws-cdk](https://github.com/aws/aws-cdk)

[2019-09-15 13:34] zanhsieh commented on #119
New issue in aws-cdk created.
https://github.com/aws-samples/aws-cdk-examples/issues/119

[2019-09-15 13:34] #119 closed

[2019-09-17 09:43] #93 closed

[2019-09-17 09:43] #102 closed

[2019-09-17 19:19] rhboyd opened #123 "Move example list to sub-directories"
## :rocket: Feature Request

### General Information
* [X] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

### Description
Can we break up the list of examples in the README.md into separate README.mds in each language's sub-directory, it leads to quite a few merge conflicts with the current design. The main README.md would then ju

[2019-09-18 08:54] kossmoboleat commented on #117
The `IamINstanceProfile` had to be created and set as described in the stackoverflow answer. Then it works:

[code]

[2019-09-18 14:34] garnaat opened #125 "Fargate LoadBalanced Service examples are broken"
## :bug: Bug Report

### What is the problem?
The Fargate LoadBalanced Service examples for TypeScript and Python are out of date.  A breaking change was made (https://github.com/aws/aws-cdk/pull/3719) and the name of the Fargate service needs to be changed in the examples.

### Reproduction Steps
Just try to build/synthesize either example.  You will see the error.

### Verbose Log

### Environme

[2019-09-18 15:19] #125 closed

[2019-09-19 18:39] evcatalyst opened #127 "AppSync Example - No data source found"
Having issues with this AppSync example, i tried a host of permutations, then did a clean sync of the repo and continue to get the error.

[code]

[2019-09-19 21:16] evcatalyst commented on #127
#78

[2019-09-19 21:16] #127 closed

[2019-09-23 17:02] alukach opened #130 "Lacking examples of managing/deploying Python dependencies"
## :question: Guidance Question

### The Question

As mentioned in aws/aws-cdk#3660, we are lacking a good example of a more realistic Lambda which includes dependencies. **How should a developer ensure that handlers are packaged with their required dependencies?** The current examples/boilerplate code only seems to demonstrate managing deployment code (i.e. `cdk` dependencies) but does not demons

[2019-09-24 18:41] heiwad opened #131 "ECS Fargate Load Balanced Service created via python example does not allow incoming traffic"
## :bug: Bug Report

### What is the problem?
When deploying  python/ecs/fargate-load-balanced-service/ the resulting application is not reachable via the load balancer URL.

The security group for the fargate task does not have an inbound rule allowing traffic on port 80. Manually adding the rule post deployment fixes the application.

### Reproduction Steps

### Verbose Log
the result of cdk syn

[2019-10-01 02:38] trivikr opened #132 "Use NODEJS_10_X for Lambda Runtime as NODEJS_8_10 is EoL on 31 Dec 2019"
## :bug: Bug Report

### What is the problem?
* NODEJS_8_10 is EoL on 31 Dec 2019 https://endoflife.date/nodejs
* It's advisable to use NODEJS_10_X in example code

### Reproduction Steps
* Follow readme in [api-cors-lambda-crud-dynamodb](https://github.com/aws-samples/aws-cdk-examples/tree/master/typescript/api-cors-lambda-crud-dynamodb)
* Notice that lambda is deployed on `Node.js 8.10`

### Ver

[2019-10-03 04:30] benfarr commented on #130
@alukach Layers is definitely the way to go. I just submitted this example project that includes a requests layer used by one of the Lambdas. Hope it helps: https://github.com/aws-samples/aws-cdk-examples/pull/134

[2019-10-03 13:54] reidca commented on #89
Any resolution to this issue? I am attempting to create a custom resource which is asking for an IFunction. It seems neither Function nor SingletonFunction are accepted even though they both implement IFunction. I am left feeling this is a bug however there is very little information on this which I am surprised at.

[2019-10-03 14:33] reidca opened #135 "Custom-Resource example is no longer working"
## :bug: Bug Report

### What is the problem?
The supplied example for custom-resource is no longer compiling. I assume something must have changed in the underlying APIs.

### Reproduction Steps
Create a new typescript file with the code supplied and see the errors

### Verbose Log

Argument of type 'this' is not assignable to parameter of type 'Construct'.
  Type 'MyCustomResource' is not assign

[2019-10-03 14:59] rhboyd commented on #89
@reidca I just verified that this works.

[code]

[2019-10-03 15:02] reidca commented on #89
Alas I need this to work in TypeScript although I prefer Python! The issue seems to be TypeScript specific.

[2019-10-03 16:46] rhboyd commented on #89
Can you share your code that is producing the error? I would be very surprised if this worked in Python but not TS, it's usually the other way around if there's a bug.

[2019-10-03 16:54] rhboyd commented on #89
I just verified that it works in TS as well. without seeing either your code or the error message you're getting, there's not much anyone can do to help.

[2019-10-03 16:54] reidca commented on #89
One of the reasons we chose TypeScript was to limit issues with the code being interpreted to Python from TypeScript, plus it seemed the documentation was more up to date for TypeScript.

The issue I am seeing can be seen when you try this sample:
[Custom-Resource](https://github.com/aws-samples/aws-cdk-examples/tree/master/typescript/custom-resource
)
I raised an issue for it as well: [Issue](htt

[2019-10-03 17:00] reidca commented on #89
Can you send me the code you tried and also what version of CDK you are using? Perhaps we are using different versions or something else in my environment is wrong.

[2019-10-03 17:00] rhboyd commented on #135
This doesn't really help. will I see the same errors you see? what if I see no errors? Saying which errors you saw and when is much more helpful to debug.

[2019-10-03 17:00] rhboyd commented on #89
What error are you getting when you say "The supplied example for custom-resource is no longer compiling"? I just copied it verbatim into a CDK Construct and it synth'd without a problem.

[2019-10-03 17:01] rhboyd commented on #89
I am using 1.10.1

[2019-10-03 17:03] rhboyd commented on #89
I'm using the code from the example. I didn't use the `fs` library to load the code but that shouldn't make a difference.
[code]

[2019-10-03 17:04] reidca commented on #89
Odd...I get this design time error in VSCode:

Argument of type 'SingletonFunction' is not assignable to parameter of type 'IFunction'.
  Types of property 'role' are incompatible.
    Type 'import("c:/source/aws/cloudformation/cdk/s3-ftp-uploader/node_modules/@aws-cdk/aws-iam/lib/role").IRole | undefined' is not assignable to type 'import("c:/source/aws/cloudformation/cdk/s3-ftp-uploader/node_mod

[2019-10-03 17:05] rhboyd commented on #89
what version of cdk are you using?

[2019-10-03 17:05] reidca commented on #89
Same as you 1.10.1 (build 82f8ec6)

[2019-10-03 17:06] rhboyd commented on #89
from your error message, it looks like a problem with the way you are defining a Role.

[2019-10-03 17:07] rhboyd commented on #89
sharing your code would make this 100x easier instead of using a 20-questions approach

[2019-10-03 17:07] reidca commented on #89
Like you I have copied the code verbatim, I have not done anything with a role! The code is exactly as in the sample.

[2019-10-03 17:11] rhboyd commented on #89
I would delete the node_modules folder and re-run `npm install` then try again. You probably have an old version of one of the CDK dependencies lurking in there

[2019-10-03 17:12] reidca commented on #89
Found the issue! I had this installed:
https://www.npmjs.com/package/@aws-cdk/custom-resources

Looks like this is an old module and it has been superseded and incorporated into CDK CloudFormation module.

I wonder whether we can get this removed as was referenced from some site I found on CDK custom resources.

Thank you so much for your help.

[2019-10-03 17:16] rhboyd commented on #132
EOL from the Node.js Foundation doesn't mean EOL from Lambda support. historically, the Node versions have been supported by Lambda for some time after they are EOL by Node.js

[2019-10-03 17:21] rhboyd commented on #89
there are probably people still using that module, simply removing it would break their builds (see also leftpad)

[2019-10-03 17:23] rhboyd commented on #89
looking at that module, it looks like it's part of CDK and is being actively developed. you may have had an old version of that module.

[2019-10-03 17:23] reidca commented on #89
I guess so but perhaps a note to say that it's now part of a different module would help. As someone new to CDK and looking how to use Custom Resources this was definitely an unwanted distraction and has lost me lots of time.

[2019-10-03 17:24] reidca commented on #89
I only downloaded it today!

If you install it do you see the same issues I was having using the custom resource in CFN?

[2019-10-03 17:29] rhboyd commented on #89
Running the following commands works as expected with no errors:

[code]

[2019-10-03 17:30] rhboyd commented on #89
you mentioned in the other issue that you had to remove a line from your `package.json` that wasn't part of the original example. The example works correctly on the current version of CDK.

[2019-10-03 19:39] reidca commented on #89
I was trying to create a cdk app that used a custom resource and came across the npm module that I subsequently had to remove. Couldn't get this working so looked to samples. Found the sample mentioned and came across the errors I listed with Function not being compatible with IFunction. After our dialogue I then removed the entry from the package.json in the root of my project and did an npm inst

[2019-10-03 19:56] rhboyd commented on #89
like I said, without seeing your code I have no idea.

[2019-10-07 18:55] temirov opened #137 "Can not synthesize CloudFormation template for fargate-service-with-auto-scaling"
## :bug: Bug Report

### What is the problem?

Can not synthesize CloudFormation template for fargate-service-with-auto-scaling

### Reproduction Steps
[code]

### Verbose Log

[code]

### Environment

  - **CDK CLI Version:** 1.12.0 (build 923055e)
  - **OS:** Linux ip-172-31-26-69 4.14.143-91.122.amzn1.x86_64 #1 SMP Wed Sep 11 00:43:34 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
  - **Language:**  T

[2019-10-14 15:21] #137 closed

[2019-10-25 12:17] #132 closed

[2019-10-29 03:42] josjaf opened #148 "503 ALB error"
## :bug: Bug Report

### What is the problem?
Load Balancer 503
-->
The stack deploys - I think this line needs to be 80 instead of 8080

[2019-10-31 18:18] davidsteed commented on #131
Not just python. This does not work

[2019-10-31 18:21] davidsteed commented on #131
Could you put your solution here.  Did you create the security group using cdk or edit the generated cloudformation

[2019-10-31 19:16] heiwad commented on #131
I was able to solve by adding the following line of code after line 30

fargate_service.service.connections.allow_from_any_ipv4(ec2.Port.tcp(80),'Allow HTTP access to the website')

[2019-11-01 06:20] davidsteed commented on #131
I get "Property 'allow_from_any_ipv4' does not exist on type
'Connections'."  when I try that

On Thu, 31 Oct 2019 at 19:16, Heiwad Osman <notifications@github.com> wrote:

[2019-11-01 06:26] davidsteed commented on #131
Ah! they have changed it to allowFromAnyIpv4().  thank you very much - I
spent ages trying to figure that out

On Fri, 1 Nov 2019 at 06:20, David Steed <davidsteed1@gmail.com> wrote:

[2019-11-02 20:44] popovitsj commented on #60
When you do `npm run build` the typescript files are compiled to javascript.

[2019-11-04 17:16] sankeyraut commented on #148
I tried deploying the ALB stack. Gives 503. Are we updating this one ?

[2019-11-04 17:17] josjaf commented on #148
I have the fix - I'll send a PR.

[2019-11-04 17:19] sankeyraut commented on #148
Can you mention here what is the fix ? Will try and test it

[2019-11-05 13:44] kaihendry commented on #102
What happens if you don't want a subdomain?

[2019-11-05 14:48] rhboyd commented on #102
Purchase a TLD? jk. The example would probably need some modification to support that use-case.

[2019-11-05 22:57] kaihendry opened #151 "Root domain static site"
Similar to https://github.com/aws-samples/aws-cdk-examples/issues/102#issuecomment-549855252 but with no subdomains.

I tried d85826645180871701f296c8937495b3d3a23a9d with cdk 1.15.0 (build bdbe3aa) and the error is **The certificate that is attached to your distribution doesn't cover the alternate domain name (CNAME)** like #102 iirc.

https://s.natalian.org/2019-11-06/fail.txt

[2019-11-05 22:57] kaihendry commented on #102
Ok, I've opened up a feature request at #151 quickly. Thanks!

[2019-11-06 21:22] JoshM1994 commented on #110
I have prepared a short example of how to include a set of node_modules below. The basic answer is that you need your node_modules folder to be in the same folder as specified in `new lambda.AssetCode('this_folder')`

1. Assume you are starting a fresh project with `cdk init sample-app --language=typescript`
2. Create a new top-level folder called `src` where you will be storing your Lambda functi

[2019-11-06 23:27] #48 closed

[2019-11-07 05:19] zoonman commented on #110
Josh, it looks like a complete hack & absolutely dirty solution.
As part as regular development process goes - infrastructure is an utilitary part of the project and normally has to be considered as dev dependency. Nobody wants to spend more than 5% of their project time on it and write endless boilerplate code to trivially deploy API.

Project structure supposed to look like this:
[code]
I expect

[2019-11-07 16:42] JoshM1994 commented on #110
Yes, I agree that it is hacky and dirty but I do not believe CDK was designed to be an entire build system for every single part of AWS' enormous stack. Serverless Framework is certainly better in its ability to package `node_modules` for you but you lose a lot of flexibility in doing so.

It's really no extra work to have your `npm run deploy` do a very quick packaging step for you. Something sup

[2019-11-07 19:03] btakita opened #152 "Static Site: GET /subdirectory should serve /subdirectory/index.html"
It does not seem like subdirectory index files are served. Instead a GET /subdirectory responds with a 403

[2019-11-07 22:00] NGL321 commented on #110
@zoonman Sorry that no one got back to you sooner. @JoshM1994 is correct however, the CDK is not designed to be the end-all-be-all build system for everything in AWS. The AWS ecosystem is far too complex to have such specific deployment structure.

Josh's solution mirrors exactly what I would have encouraged to deploy lambdas with dependencies. It is not the most optimal solution, but it is how yo

[2019-11-09 18:47] btakita opened #154 "Lambda, CloudfrontWebDistribution, & DynamoDB integration"
It would be useful to have an example that demonstrates a Lambda web app, a CloudfrontWebDistribution, & DynamoDB for a complete data-driven app being served over https.

[2019-11-12 00:57] SomayaB commented on #131
Closing since a solution seems to have been found. Feel free to reopen if that's not the case.

[2019-11-12 00:57] #131 closed

[2019-11-14 01:19] NGL321 commented on #79
Hi! I was wondering if you were still experiencing this issue? I just tried to reproduce, and the example built fine for me.

If this is no longer applicable, I would love to close out this issue and the workaround PR!

TIA!
😸

[2019-11-14 01:22] NGL321 commented on #82
It looks like the initial bug discovered here was resolved in #86, and the second bug is encapsulated under #78.

I am going to close this issue for now as resolved. Feel free to re-open if I am incorrect.

😸

[2019-11-14 01:22] #82 closed

[2019-11-14 01:25] NGL321 commented on #148
Hi @josjaf,

Did you happen to get a chance to put together a fix for this? If not, I'd be happy to look into it.

Let me know!
😸

[2019-11-14 02:27] rhboyd commented on #79
It should be fixed, my PR was merged on 17-Sep with the fix.

[2019-11-14 12:18] JamieMcKernanKaizen commented on #130
Yeah I'm also needing to do this (and I'm surprised it isn't well documented). It seems like it would be something that people would want to be doing often!

[2019-11-14 21:53] alukach commented on #130
@JamieMcKernanKaizen I ended up doing something like the following:

[code]

[2019-11-15 09:18] JamieMcKernanKaizen commented on #130
@alukach Thanks! I found that installing the packages locally to the lambda code asset folder worked too!

[2019-11-20 18:19] kjpgit commented on #130
I wrote an example here: https://github.com/kjpgit/techdemo/tree/master/cdk_python_lambda
That's based on our real-world usage, on 3 projects.

[2019-11-22 01:46] chriswessells opened #163 "Example VPC with SSM Endpoints"
## :rocket: Feature Request

### General Information

* [X] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

Example of a VPC with the endpoints necessary for AWS Systems Manager Agent to communicate without using a IGW or NAT Gateway (private subnets that do not have access to the Internet).

### Proposed Solution

[2019-11-22 05:32] pimlock opened #165 "Create Java code for resource-overrides example."
## :rocket: Feature Request

### General Information

Write Java code to show how to use CDK to implement similar example in TypeScript: https://github.com/aws-samples/aws-cdk-examples/tree/master/typescript/resource-overrides

* [x] :wave: I may be able to implement this feature request

[2019-11-22 17:46] pimlock opened #168 "One of the Python examples breaks the CI build."
## :bug: Bug Report

### What is the problem?

The CI build for this package is failing currently. There is a problem with building one of the Python examples with this exception:

[code]

### Verbose Log

[code]

Full log: https://gist.github.com/pimlock/745a7fb8665dca2e6b10aabadb225786

[2019-11-23 00:58] rhboyd commented on #99
#100 fixes this. closing.

[2019-11-23 00:58] #99 closed

[2019-11-23 01:12] rhboyd commented on #151
Full disclosure: this probably won't be prioritized for this repository. This repo serves as examples for how similar constructs are created in various languages and there isn't much value to our users in adding incremental features for specific use-cases. Such examples would probably be better served in some kind of "quick-starts" focused repository that is meant to provide a fully-featured turn-

[2019-11-23 01:14] rhboyd commented on #130
@alukach thank you for that great example. I would like to send you some CDK stickers to thank you for your contribution. Please feel free to email me at `rhboyd@amazon.com` with a preferred mailing address and I will send them out to you.

[2019-11-23 01:49] skinny85 commented on #168
Fixed by #170 .

[2019-11-23 01:49] #168 closed

[2019-11-23 02:38] rhboyd opened #177 "Statement of Purpose for the examples repository"
## :question: Guidance Question
The aws-cdk-examples repository should include a statement of purpose for the repository. It feels like its somewhere between a teaching resource with many examples and a collection of patterns. I would propose that we say production-ready examples with best-practices baked-in belong in the patterns section of @aws-cdk and this repository is used to hold demonstrati

[2019-11-25 16:22] SomayaB commented on #110
Closing this issue since a solution has been provided. Feel free to reopen.

[2019-11-25 16:22] #110 closed

[2019-11-27 18:56] dchristian3188 opened #189 "Python Fargate Service With Autoscaling Example doesn't open required security group ports"
## :bug: Bug Report

### What is the problem?
When running the [Python Fargate Service with Autoscaling Example](https://github.com/aws-samples/aws-cdk-examples/blob/master/python/ecs/fargate-service-with-autoscaling/app.py) the required ports are not open on the Fargate service security group. For the service to work correctly, the security group needs to allow port 80 inbound from the VPC subnet

[2019-11-27 19:25] dchristian3188 opened #190 "Python Fargate Service with load balancing doesn't open required security group ports"
## :bug: Bug Report

### What is the problem?
When running the [Python Fargate load balanced service](https://github.com/aws-samples/aws-cdk-examples/tree/master/python/ecs/fargate-load-balanced-service) the required ports are not open on the Fargate service security group. For the service to work correctly, the security group needs to allow port 80 inbound from the VPC subnets.

### Environment

[2019-11-29 15:31] mannickutd opened #194 "Certain resources should have a from_json method"
## :rocket: Feature Request

### General Information
For the class https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_iam/PolicyDocument.html#aws_cdk.aws_iam.PolicyDocument
There is a way to generate the json for a policy document.
What I am looking for is a way to go the other way.
Eg. I have the json for a policy
{
  "Version": "2012-10-17",
  "Statement": [{"Effect": "Allow", "Action

[2019-11-29 15:50] DavidQN opened #195 "api-cors-lambda-crud-dynamodb POST timeout"
## :bug: Bug Report

### What is the problem?

I believe this could also fall into `Guidance`.

Specifically for: `typescript`/`api-cors-lambda-crud-dynamodb` example code, after building and deploying the stack. If you try to run the `POST` request you get a timeout (3 seconds).

This is done using an example body such as:
[code]
- All other methods in this example code seem to work exactly as ex

[2019-11-29 15:59] rhboyd commented on #195
does every POST fail, or just the first?

[2019-11-29 16:01] rhboyd commented on #194
I would submit this issue to the aws-cdk repository. This repository is just for code examples using CDK.

[2019-11-29 16:05] #194 closed

[2019-11-29 17:42] DavidQN commented on #195
Every POST fails. This doesn't seem to be a lambda warmup issue if that is what you were getting at.

[2019-11-29 20:03] dchristian3188 commented on #73
I think this was resolved as part of https://github.com/aws-samples/aws-cdk-examples/pull/122

[2019-11-29 22:37] SomayaB commented on #190
Hi @dchristian3188, thanks for reporting these bugs and opening PRs, much appreciated! 👍

[2019-11-30 10:11] baxevanis opened #197 "Failure to deploy due to invalid datasource"
When I am trying to deploy the project without even changing anything on the code I am getting an error regarding the data source not being there!

Steps to recreate:
[code]

and this is the error I am getting:
[code]

CDK version
`1.18.0 (build bc924bc)`

and npm does install all 1.18.0 versions of the dependencies ex
`"@aws-cdk/core": "1.18.0"`

Tried to double check if there was something wrong

[2019-12-02 09:47] baxevanis commented on #197
Seems the issue is already reported and there is a PR that suggests a workaround solution.
[https://github.com/aws-samples/aws-cdk-examples/pull/78](url)

changing to CfnTable and add the dependsOn seems to resolve the issuje
Closing the ticket

[2019-12-02 09:47] #197 closed

[2019-12-04 00:15] #165 closed

[2019-12-04 19:07] MrArnoldPalmer opened #198 "Java Code Formatting"
## :rocket: Feature Request

### General Information

* [X] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

Standardize java examples formatting.

### Proposed Solution

Standardize java examples formatting using google-java-format. Add documentation note about formatting for future examples.

### Environment
  -

[2019-12-04 22:13] #198 closed

[2019-12-06 19:43] gbooth27 commented on #89
I also just ran into this issue. I instantiate a function then try to add and S3 event trigger with `s3_notifications.LambdaDestination(this.my_lambda)` where `this.my_lambda` is the function and it is telling me `Argument of type 'Function' is not assignable to parameter of type 'IFunction'.` which makes no sense since `Function` implements `IFunction`, as stated in your docs: https://docs.aws.am

[2019-12-06 19:48] gbooth27 commented on #89
I see this error when I try to build: `Types have separate declarations of a private property 'action'.` and `Argument of type 'Function' is not assignable to parameter of type 'IFunction'.
  Types of property 'role' are incompatible.`

[2019-12-09 14:52] musacibik commented on #89
You may try updating your dependencies. Make sure that all modules under aws-cdk have same versions installed.

This configuration worked for me.

`{
  "dependencies": {
    "@aws-cdk/aws-events-targets": "^1.18.0",
    "@aws-cdk/aws-glue": "^1.18.0",
    "@aws-cdk/aws-kinesisfirehose": "^1.18.0",
    "@aws-cdk/aws-s3": "^1.18.0",
    "@aws-cdk/aws-sns": "^1.18.0",
    "@aws-cdk/aws-sns-subscripti

[2019-12-10 10:09] mgijsbertihodenpijl commented on #195
I had exactly the same issue. I just followed the instructions from the readme.
In the CloudWatch logs the following error was reported:
`2019-12-10T10:02:18.623Z	undefined	ERROR	Uncaught Exception
{
    "errorType": "Runtime.ImportModuleError",
    "errorMessage": "Error: Cannot find module 'uuid/v4'",
    "stack": [
        "Runtime.ImportModuleError: Error: Cannot find module 'uuid/v4'",

[2019-12-11 02:21] DavidQN commented on #195
I apologize, I forgot to follow up on this. @mgijsbertihodenpijl thank you for your response, I ended up resolving this earlier, but it was still rather embarrassing on my end.

The above error displayed above wouldn't even display in the cloudwatch logs until I made a few changes as it would still display the timeout.

Lambdas on CDK default to 3 seconds with the memory size of 104. It seems like

[2019-12-13 02:00] #189 closed

[2019-12-13 02:18] #190 closed

[2019-12-13 11:42] snegostup opened #203 "Can't deploy typescript/ecs/fargate-service-with-local-image"
Getting this error:

37/40 | 1:10:09 AM | CREATE_FAILED        | Custom::ECRAdoptedRepository              | FargateService/TaskDef/web/AssetImage/AdoptRepository/Resource/Default (FargateServiceTaskDefwebAssetImageAdoptRepositoryCDAFD419) Failed to create resource. User: arn:aws:sts::210094884298:assumed-role/FargateServiceWithLocalIm-AdoptEcrRepositorydbc60d-ZTFD9HZ115F/FargateServiceWithLocalIm

[2019-12-14 00:07] SoManyHs commented on #203
Hi @snegostup,
Does the IAM role specified as your task execution rule have the correct permissions for your ECR repositories? Could you include the CDK code you are using? Thanks!

[2019-12-14 14:59] snegostup commented on #203
Hi @SoManyHs,
I'm trying to deploy https://github.com/aws-samples/aws-cdk-examples/blob/master/typescript/ecs/fargate-service-with-local-image/index.ts without any changes

`import ec2 = require('@aws-cdk/aws-ec2');
import ecs = require('@aws-cdk/aws-ecs');
import ecs_patterns = require('@aws-cdk/aws-ecs-patterns');
import cdk = require('@aws-cdk/core');
import path = require('path');

const app =

[2019-12-14 23:39] nagupta92 commented on #117
I am able to reproduce this issue, even though I have IAM Role and Instance Profile created. Any more info why it fails ?

[2019-12-18 22:27] #79 closed

[2019-12-18 22:49] SomayaB commented on #148
Hi @josjaf, do you have any updates on this?

[2019-12-19 19:33] NGL321 commented on #148
Unable to reproduce.

Closing due to inactivity.

[2019-12-19 19:33] #148 closed

[2019-12-19 19:41] josjaf commented on #148
It happened to me once or twice, I couldnt reproduce it.

On Thu, Dec 19, 2019, 2:33 PM Noah Litov <notifications@github.com> wrote:

[2019-12-20 00:39] SomayaB opened #205 "How to create a conditional Glue trigger with predicates is not clearly documented. A sample would help."
## :rocket: Feature Request

### General Information

* [ ] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

I am struggling with creating a Glue workflow in my Python cdk script.
Specifically I want to create a trigger that is waiting for a set of Glue jobs to successfully complete before performing its action

_O

[2019-12-20 02:00] NGL321 opened #206 "All Travis builds fail with error TS7033"
## :bug: Bug Report

### What is the problem?

All builds fail on a random typescript example (the first to build) with this error:
[code]

__RELATED TO:__ [cdk#5497](https://github.com/aws/aws-cdk/issues/5497)

### Reproduction Steps

Attempt to build any current example in repo with latest CDK version.

### Verbose Log

### Environment

  - **CDK CLI Version:**
  - **Example:**
  - **Example Ver

[2019-12-20 02:16] #206 closed

[2019-12-21 01:07] NGL321 commented on #1
No longer exists.

Closing out

[2019-12-21 01:07] #1 closed

[2019-12-21 01:09] NGL321 commented on #54
Fix implemented. Closing issue

[2019-12-21 01:09] #54 closed

[2019-12-27 20:15] bionicles opened #212 "How do you use APIGatewayV2 HTTP API with CDK to save 70% cost on API?"
## :rocket: Feature Request

### Description
We want to use the new HTTP API with AWS Lambda because it’s simpler, lower latency, and faster, but it’s not documented

### Proposed Solution
A construct to deploy a simple lambda with http api (node js)

[2019-12-27 20:16] bionicles commented on #212
https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api.html

[2019-12-27 20:16] bionicles commented on #212
announced a few weeks ago:
https://aws.amazon.com/blogs/compute/announcing-http-apis-for-amazon-api-gateway/

[2020-01-02 20:43] NGL321 opened #216 "Fargate Load Balanced Service test fails"
## :bug: Bug Report

### What is the problem?

The test for the Java Fargate Load Balanced Service example fails. The expected Cloudformation JSON does not match the generated cfn json.
There are tags that exist in the generated json that are not in expected.

### Reproduction Steps

Build Java examples with tests

### Verbose Log

### Environment

  - **CDK CLI Version:** 1.19.0
  - **Example:**

[2020-01-03 15:50] bionicles opened #218 "How do you deploy aurora serverless postgres with CDK?"
## :rocket: Feature Request

### Description
I want to use the Aurora **Serverless** Postgres database with Hasura container in Fargate or a lambda on Nodejs but there is no clear explicit example of the database and the reference docs are not searchable.

### Proposed Solution
Would it please be possible to add a simple stack to deploy aurora serverless postgres with CDK?

[2020-01-03 17:10] richardhboyd commented on #218
The [RDS CDK docs](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-rds-readme.html#starting-a-clustered-database) show how to create an Amazon Aurora Database.

[2020-01-03 20:07] bionicles commented on #218
Thank you @richardhboyd

[2020-01-04 01:55] #216 closed

[2020-01-06 10:33] NikhilVanapalli opened #221 "jsii error while writing code for ECS Fargate"
## :question: Guidance Question

### The Question

I wrote some code for ECS Fargate and everything from the Cluster, Task definition to the container works fine. Every line runs fine except when it comes to the line where I created a service . The following statement is generating an error -

[code]
When I comment this line out, everything runs and deploys fine. But when this line is not commente

[2020-01-06 10:55] #221 closed

[2020-01-06 20:32] bionicles opened #222 "Please add a serverless graph stack"
## :rocket: Feature Request

### General Information
* [X] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

### Description
I think a full stack React + CDK + Neptune Serverless example would be valuable for many startups because graphs enable a whole range of new queries that are mostly impossible in SQL. Serverless would help to f

[2020-01-07 15:14] netroy commented on #218
@bionicles here is the CDK issue to follow https://github.com/aws/aws-cdk/issues/929
and, here is an unofficial example that uses `engineMode` in a custom construct https://github.com/ysku/aurora-serverless-example

IMHO, until official support for Aurora-Serverless lands in CDK, it probably doesn't make much sense to add a temporary (& hacky) example here.

[2020-01-07 21:08] bionicles commented on #218
sounds good @netroy how do you add the official support to cdk?

[2020-01-07 21:30] richardhboyd commented on #218
someone would have to add a L2 Construct that creates an aurora serverless database

[2020-01-08 09:51] kossmoboleat commented on #117
@NGL321 I've specified that the example from this repository has the problem and given instructions how to use it too. I'm not sure what else you need to reproduce?

[2020-01-11 21:44] Antoine-C opened #226 "At least two subnets in two different Availability Zones must be specified"
## :bug: Bug Report

### What is the problem?
I'm trying to build the _application-load-balancer_  exemple (typescript) but unfortunately it fails when trying to create the Elastic Load Balancer due to missing subnets settings.

### Reproduction Steps
Just git clone the _application-load-balancer_ exemple and run cdk deploy.

### Verbose Log
[code]

### Environment

  - **CDK CLI Version:** 1.20.0

[2020-01-14 00:15] rschmitt opened #227 "Example `typescript/ecs/fargate-service-with-local-image` does not produce a working service"
## :bug: Bug Report

### What is the problem?
The `fargate-service-with-local-image` deploys successfully, but the service cannot be contacted. Looking in the ELB console, it says that "none of these Availability Zones contains a healthy target." The registered targets are either in the "initial" or "draining" status.

### Reproduction Steps
Apply the `README.md` instructions to the `typescript/ec

[2020-01-16 00:20] NGL321 opened #228 "Include CSharp in test scripts"
## :rocket: Feature Request

### General Information

* [x] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

The current test scripts for CI do not include building the CSharp files. This leaves them vulnerable to errors if not tested locally by reviewer.
We should add C# build scripts.

### Proposed Solution

###

[2020-01-16 00:25] #228 closed

[2020-01-16 19:56] bionicles commented on #212
APIGatewayV2 was just split into its own package today

https://github.com/aws/aws-cdk/commit/d58667e473c1e07ac8f2f073b3a541569a014e01

[2020-01-16 21:57] rhboyd commented on #212
Because this is an experimental module, you would most likely need to use the underlying L1 Constructs to build an API Gateway HTTP API. Given that the feature itself is still in Beta preview and may experience breaking changes, I would doubt many people would be willing to do the work to build solid Construct on top of it until it goes GA.

[2020-01-20 16:23] abaccin opened #232 ".net cdk CfnQueueProps RedrivePolicy property"
## :question: Guidance Question

### The Question
I am trying to set the RedrivePolicy of SQS using CfnQueueProps:

[code]
Result:

`Unhandled exception. Amazon.JSII.Runtime.JsiiException: Amazon.JSII.Runtime.JsiiException: Resolution error: Resolution error: Trying to resolve() a Construct at /Resources/`

Please note that the queue is being created in the current Stack but the dl is alredy in pl

[2020-01-22 21:16] NGL321 opened #236 "Some ECS Examples dont have READMEs"
## :bug: Bug Report

### What is the problem?

The following examples dont contain README files to describe purposed:

[TS ECS w/Logging](https://github.com/aws-samples/aws-cdk-examples/tree/master/typescript/ecs/ecs-service-with-logging/)
[Python Fargate w/Autoscaling](https://github.com/aws-samples/aws-cdk-examples/tree/master/python/ecs/fargate-service-with-autoscaling/)

### Other information

[2020-01-23 23:35] elderapo commented on #195
I think the problem is that there is no `uuid` library in `package.json` and on top of that `node_modules` does not get uploaded to the lambda.

[2020-01-30 21:39] BinaryShrub commented on #227
All of the fargate examples are having this issue for me. Is there any update on this?

[2020-01-30 21:53] geof2001 opened #237 "Need examples of importing CFN exports for use in declaring service properties"
## :question: Guidance Question

### The Question

I'm looking for a way to use string/array exports from existing CF stacks like CF does it already.
 For example we have an ECS cluster exported from an existing stack which is just the Name string for the cluster.  However I can't seem to use that when trying to define a ecs.Ec2Service.
 The cluster property here says it requires a type of ICluste

[2020-01-31 01:50] richardhboyd commented on #237
You would do something like
[code]

[Here](https://github.com/aws/aws-cdk/blob/e441d8bf5d501905e9c1448d550195268c61f4cc/packages/%40aws-cdk/core/lib/cfn-fn.ts#L388-L401) is where the class is defined in CDK

[2020-01-31 01:54] richardhboyd commented on #222
Currently, Neptune doesn't have a serverless capability so this feature would be blocked until such a feature is developed by the Neptune service team.

[2020-02-03 02:11] kbroughton opened #238 "Error: Cannot retrieve value from context provider hosted-zone since account/region are not specified at the stack leve"
## :bug: Bug Report
Need more instructions in readme.
First, you need to import modules via npm or yarn.
Then, need to get region and account into context.

### What is the problem?
`cdk deploy` causes errors.

### Reproduction Steps
aws-cdk-examples/typescript/static-site> cdk synth -c domain=x.com -c subdomain=y
l. Either configure "env" with explicit account and region when you define your stac

[2020-02-03 17:39] iamhopaul123 commented on #238
@kbroughton I think it is because you don't have the default profile in your aws config file. Can you run `aws configure` to see if it fixes the problem?

[2020-02-03 21:46] kbroughton commented on #238
I do have ~/.aws/config and ~/.aws/credentials [default] blocks defined.

e.g. for config.
[default]
region = us-east-1
output = json

I use the keys regularly. I also tried explicitly setting CDK_ vars on the CLI - no luck.
aws configure does not set a "default account" either.

[2020-02-04 00:52] iamhopaul123 commented on #238
Here's the [guidance](https://docs.aws.amazon.com/cdk/latest/guide/environments.html) that is relevant to your issue. Does this help solve your issue?

[2020-02-04 03:14] davidmoten opened #239 "Unused code in MyWidgetServiceStack"
https://github.com/aws-samples/aws-cdk-examples/blob/0612ac04cbfe46831ed4f077b38194d649a8fdea/java/my-widget-service/src/main/java/software/amazon/awscdk/examples/MyWidgetServiceStack.java#L38-L42

The above variable `restApiRole` is not used anywhere. What's the story?

[2020-02-04 03:21] rhboyd commented on #239
It’s used here

https://github.com/aws-samples/aws-cdk-examples/blob/0612ac04cbfe46831ed4f077b38194d649a8fdea/java/my-widget-service/src/main/java/software/amazon/awscdk/examples/MyWidgetServiceStack.java#L41

[2020-02-04 03:58] rhboyd commented on #239
My bad. I misread your email and thought you said the variable above RestAPI Role. I assume that someone changed the example from an APIGW service integration to a Lambda Integration and didn’t remove the older parts in the Python or TS examples. When it was translated to Java, those artifacts remained.

Sent from my iPad

[2020-02-04 04:00] rhboyd commented on #239
They probably tried to copy this example, then gave up.

https://github.com/aws-samples/aws-cdk-examples/blob/master/python/my-widget-service/my_widget_service/my_widget_service_stack.py#L23

Sent from my iPad

[2020-02-05 11:26] hopewise commented on #49
I have the same issue as here:

[code]
the log file:
[code]

[2020-02-06 05:42] brainstorm opened #241 "Python example for step-functions with callbacks?"
## :rocket: Feature Request

### General Information

* [x] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

Step functions [callback pattern were introduced on May 23rd last year](https://aws.amazon.com/about-aws/whats-new/2019/05/aws-step-functions-support-callback-patterns/) and then they got [implemented in CDK

[2020-02-07 04:24] brainstorm commented on #241
Nevermind, was easy enough: https://github.com/umccr/infrastructure/blob/master/cdk/apps/showcase/stacks/orchestrator.py

[2020-02-07 04:24] #241 closed

[2020-02-07 15:57] StraightOuttaCrompton commented on #238
I also experienced this issue receiving the message

I was puzzled when setting the environment variables and getting the same error. It took me a while to figure out I have to do the following

[code]

as outlined in the [guidance](https://docs.aws.amazon.com/cdk/latest/guide/environments.html) provided by @iamhopaul123

[2020-02-07 17:10] pkandasamy91 commented on #236
@NGL321 not really sure what the expectation is here? None of the examples in the ECS repo have readmes.

[2020-02-07 21:57] iamhopaul123 commented on #227
Hi @rschmitt, it is because it is using NLB, which does not come with a security group that opens all traffic. For security concern you need to configure manually: https://github.com/aws-samples/aws-cdk-examples/issues/131

[2020-02-07 22:05] rschmitt commented on #227
@iamhopaul123 This explanation doesn't make any sense to me. I created an EC2 instance inside the same security group as the Fargate service, and I was still unable to ping the service.

[2020-02-07 22:30] iamhopaul123 commented on #227
Yeah, I agree. We'll fix that.

[2020-02-07 23:16] #227 closed

[2020-02-10 20:23] SomayaB commented on #238
Thanks @iamhopaul123 and @StraightOuttaCrompton! @kbroughton does that solve your issue?

[2020-02-10 22:47] davidmoten commented on #239
Given that this project is put forward as a official examples, are the examples tested (or just translated and thrown in)?

[2020-02-11 20:42] StraightOuttaCrompton commented on #195
```aws-sdk``` is also not in ```package.json``` but is required by the files in ```src```. How are these dependencies being resolved in the lambdas?

[2020-02-12 23:33] lukepushlabs commented on #195
@elderapo What's the solution to that then? Should each handler I create have its own node_modules folder?

[2020-02-13 03:09] elderapo commented on #195
@StraightOuttaCrompton I am not sure but maybe `aws-sdk` should be installed globally in your environment (I think it's always installed in AWS lambda).

@lukepushlabs You can use [ncc](https://github.com/zeit/ncc), `webpck` or any other bundler to create a bundle for each lambda (`ncc` will only pick dependencies from `node_modes` that are used by your lambda). This way your lambdas will be as li

[2020-02-13 10:15] davidsteed commented on #102
I have this issue too. I want to host a site and redirect www.site.com and site.com to the same site.
This does not appear to be possible
I have a better example of the static site example here.

https://github.com/davidsteed/awscdkstaticsite
Tried several ways of doing this none appear to work.
I was trying to use a redirect bucket.  It was working, but now does not and I don't understand why.  T

[2020-02-13 10:26] rhboyd commented on #102
Do the SubjectAlternativeNames not work for specifying additional domain names?

[2020-02-13 12:57] kaihendry commented on #102
I'm using Terraform now: https://github.com/kaihendry/dabase.com/blob/master/terraform/s3.tf

Not sure why I didn't think of using Terraform before. It's saner than JS/TS and being locked into a single Cloud provider.

[2020-02-13 13:36] davidsteed commented on #102
I have managed to work round the problem.  See here:
https://github.com/davidsteed/awscdkstaticsite

[2020-02-17 16:29] SomayaB commented on #238
Closing this issue since a solution seems to have been found. Feel free to reopen.

[2020-02-17 16:29] #238 closed

[2020-02-17 22:55] NGL321 commented on #222
@bionicles
This seems like an excellent idea! If you think it would be valuable this could be developed with a substitute for Neptune, or developed with server-based Neptune and adapted for serverless Neptune later.

Let me know what you think!

😸

[2020-02-17 23:01] NGL321 commented on #218
Since it seems this would require a [major addition](https://github.com/aws/aws-cdk/issues/929) to the CDK repo to be officially supported, I am going to close this issue for now.

If I misunderstand the scope and this is achievable now, or once the feature is completed in the main repo, please feel free to reopen the issue!

😸

[2020-02-17 23:01] #218 closed

[2020-02-18 21:15] NGL321 opened #244 "Cognito user pool + APIGW + Lambdas"
## :rocket: Feature Request

### General Information
_On behalf of @ximarin. Original issue [here](https://github.com/aws-samples/aws-cdk-intro-workshop/issues/103)_

* [ ] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

Is it possible to get a step by step example for how to set up an APIGW so it uses specific Co

[2020-02-21 07:21] enricopesce opened #246 "Need examples of elbv2 rules and actions"
Can we have some examples of how we can configure an ELBv2 with multiple rules and actions?

Thank you!

[2020-02-24 19:49] SoManyHs commented on #115
Pinging @allisaurus on how to reference the secret from within parameter store

[2020-02-25 05:55] campionfellin commented on #244
I can give this an attempt! Assigning to myself.

[2020-02-26 18:07] arunssasidhar opened #248 "Need some examples for adding AWS SSM Patch Baseline"
Hello,

I am using AWS CDK with Python.
 I am trying to add AWS SSM Patch Baseline using following code

`ssm_patch_baseline = ssm.CfnPatchBaseline(
            self, 'AmazonLinux2DemoPatchBaseline',
            name='AmazonLinux2DemoPatchBaseline',
            operating_system='WINDOWS',
            approval_rules={'PatchRules': [{'PatchFilterGroup': {'PatchFilters': [{ 'Key': 'PRODUCT', 'Values'

[2020-02-27 02:14] MrArnoldPalmer commented on #248
hey @arunssasidhar, there is an issue with the python docs displaying nested type definitions. You need to pass this in like so
[code]
Best way to trace these types currently is to look at the language generic API docs. All of the types have their python names at the top of the page and all of the argument names for type initializers are `snake_case`. [CfnPatchBaseline.RuleProperty](https://docs.a

[2020-02-27 02:14] #248 closed

[2020-02-27 16:47] arunssasidhar opened #249 "Need some examples for adding Tags to EC2 instance"
Hello,

I am using AWS CDK with Python.

I can't find any reference or examples to add "Tags" to EC2 instances via CDK.

Please provide some examples or references.

Thanks,
Arun Sasidharan

[2020-02-27 17:00] richardhboyd commented on #249
Adding Tags is covered here.

https://docs.aws.amazon.com/cdk/latest/guide/tagging.html

[2020-02-27 17:00] shaftoe commented on #249
I think this might help: https://docs.aws.amazon.com/cdk/latest/guide/tagging.html

There are examples for all the main languages

[2020-02-28 06:02] arunssasidhar commented on #249
Thanks for the support!

[2020-02-28 06:02] #249 closed

[2020-02-28 07:22] arunssasidhar opened #250 "Need some examples for adding aws ssm Maintenance Window Task"
Hi,

I am using AWS CDK with Python.

I am trying to create aws ssm Maintenance Window task with following code.

[code]

However the "task_parameters" is not working as expected and throwing following error.

[code]

I also need to pass timeout parameter to the "task_parameters"

Please support.

Thanks,
Arun Sasidharan

[2020-03-02 20:50] SomayaB commented on #250
Hi @arunssasidhar, thanks for opening an issue. This repo is a good place to ask for new examples to be added but if you need actual guidance on an issue, a better place would be to ask people on stackOverflow and if you still don't get the help you need you can ask on the main CDK repo aws/aws-cdk.

[2020-03-03 15:37] oscarnevarezleal commented on #195
I think the author tried to separate the logic across multiple handlers so he could benefit from shared [layers ](https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html)(`node_modules`).

Slt

[code]

[2020-03-04 00:52] NGL321 commented on #11
The escape-hatch documentation has been updated since this was submitted within the Developer Guide [here](https://docs.aws.amazon.com/cdk/latest/guide/cfn_layer.html).
Closing this issue ftm

[2020-03-04 00:52] #11 closed

[2020-03-04 02:08] NGL321 commented on #152
Hey @btakita,

Sorry for the delay, this was listed as a feature request (when it seems like a potential bug to me) and got passed over. A cursory look and I was unable to reproduce this.

A 403 Error strikes me as a potential permissions issue from your AWS configuration. Could you give me more reproduction steps? In particular, this example does not run out of the box and requires more informati

[2020-03-04 02:21] NGL321 commented on #205
Hi @ksadeghi,

Is this still something you are interested in? This could potentially be added to a Stepfunctions example if so.

[2020-03-04 02:28] NGL321 commented on #212
Hey @bionicles,
Richard is correct in that a specific L1 construct implementation doesnt make a lot of sense for an example for the moment.
That said, I think once there is an L2 for ApiGatewayV2, this is a perfect example to add.

With that in mind, Im going to delay this for execution once the [L2 is completed](https://github.com/aws/aws-cdk/issues/2872)

[2020-03-04 02:50] btakita commented on #152
It looks like the standard way to do the rewrite is to use lambda@edge. Problem with lambda@edge is that it's difficult to remove the functions once created.

This post uses CloudWatch. I have not tried it but seems easier to manage than lambda@edge.

https://someguyontheinter.net/blog/serving-index-pages-from-a-non-root-location-via-cloudfront/

[2020-03-04 21:48] wbprice opened #253 "ECS Patterns and Associating an SSL Cert with Network Load Balancer"
## :question: Guidance Question

### The Question

I'm planning to use the Network Load Balanced EC2 Service defined in ECS Patterns:

https://github.com/aws-samples/aws-cdk-examples/blob/master/typescript/ecs/ecs-network-load-balanced-service/index.ts#L26-L32

Behind the scenes somewhere, this creates a network load balancer.  I want to associate a given SSL cert with this load balancer.  How wou

[2020-03-05 02:13] YannHulot commented on #195
I can confirm that I a having this issue as well. The POST call fails because the uuid dependency is not available at runtime. How can this be?

[2020-03-05 14:06] shaftoe opened #254 "Add support for input transformer to `aws-events-targets.EcsTask`"
## :rocket: Feature Request

### General Information

* [ ] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

I'm trying to setup an integration between CloudTrail events and an ECS Fargate task following the example from [this article](https://medium.com/@bowbaq/trigger-an-ecs-job-when-an-s3-upload-completes-3559c4

[2020-03-11 20:51] nickroberts commented on #115
It would be great if somehow we were able to provide the `secrets` property of the ECS container definition to just reference an entry from Secrets Manager (or a Parameter Store JSON entry).

Something like this:
[code]

I have no idea if this is possible, or not, but managing multiple secrets or params for each environment is going to get messy.

Another option we are toying with, is encrypting e

[2020-03-16 20:52] SomayaB commented on #205
Closing this issue since there hasn't been a response in a while. Feel free to reopen.

[2020-03-16 20:52] #205 closed

[2020-03-16 20:52] SomayaB commented on #250
Closing this issue since there hasn't been a response in a while. Feel free to reopen.

[2020-03-16 20:52] #250 closed

[2020-03-17 01:28] marcindulak commented on #195
`src/package.json` is missing? A problem like that has been discussed in an old thread https://github.com/aws-samples/aws-cdk-examples/issues/110#issuecomment-550506116

[2020-03-17 21:25] #246 closed

[2020-03-18 17:51] trondhindenes opened #259 "More example that import existing resources"
## :rocket: Feature Request

### General Information
The hardest part for me in CDK is dealing with existing resources. In real life scenarios it is very uncommon that each app has their own ecs cluster, vpc, etc. These examples are nice and all, but they tend to illustrate the "happy path" where all resources can be defined in a single stack.

Please implement more examples where existing vpc are

[2020-03-18 18:51] hencrice commented on #254
@shaftoe I believe what you are looking for is https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_events/RuleTargetInput.html

Example: https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_events.README.html#rule

[2020-03-18 18:55] hencrice commented on #254
@SomayaB It does not seem like I have the permission to change the label on this issue. Could you give me the permission?

[2020-03-18 19:39] hencrice commented on #253
Hey @wbprice . Cert can be used with [ALB](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-ecs-patterns.ApplicationLoadBalancedFargateService.html). However, there's currently no easy way to do it with NLB. I will mark this as a feature request

[2020-03-18 19:40] hencrice commented on #253
@SomayaB Could you mark this as a feature request and remove the "needs-triage" label?

[2020-03-24 16:12] leopic opened #261 "typescript - api-cors-lambda-crud-dynamodb: unable to hit endpoints"
## :question: Guidance Question

### The Question
After successfully running `cdk deploy` on this example, hitting the provided end points always returns an error:
[code]

A `GET` request fails with the following message:
[code]

When testing this directly from the Lambda (creating a test event) the method does run correctly.

However, applying the same debugging method to a `POST` request, fails

[2020-03-24 16:58] com-tr-sitzman-lyle opened #262 "software.amazon.awscdk.core.Tokenization.reverseString(String) throwing exception"

[2020-03-24 17:02] #262 closed

[2020-03-26 18:32] codypenta commented on #261
Hey leopic,

This fails because the package (UUID) is not in the default AWS Lambda runtime for Node.

Lambda spins up a sandbox environment with the bare necessities. These bare necessities are often just the language runtime and its standard library plus AWS essentials like the AWS SDK.

The two solutions from here would be to use a pseudo-random number generator for ID (not recommended cause th

[2020-03-29 13:18] gustakasn0v opened #267 "Lambda+CodePipeline example"
## :rocket: Feature Request

### General Information

* [X] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description
Although there are plenty of examples in this repo that deploy a Lambda+ApiGateway stack, none of them cover the intricacies of moving the setup to a working CI. Now that Full CI/CD is becoming a well-adopted

[2020-03-29 20:58] pszabop opened #270 "Example for how to add paths to an Api Gateway that was defined in an existing CFT"
## :rocket: Feature Request
When migrating a CFT to a CDK, there will likely be an existing `AWS::ApiGateway::RestApi` in a CFT that needs to be extended, e.g. with a new path and integration.

It was suggested to use the static[ static From RestAPI function ](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-apigateway.RestApi.html#static-from-wbr-rest-wbr-api-wbr-idscope-id-restapiid)

[2020-03-31 20:31] SomayaB opened #271 "real examples of architecture"
## :rocket: Feature Request

### General Information

_Originally posted by @andrefedev in https://github.com/aws/aws-cdk/issues/7055

"It is difficult to find an architecture where you can have tens of stacks with thousands of functions that represent microservices for an e-commerce store. How can you live the cdk code with the application source code, if each one has different environments, pack

[2020-04-03 19:30] SomayaB commented on #254
Closing for now since the issue seems to have been addressed. Feel free to reopen if that's not the case.

[2020-04-03 19:31] #254 closed

[2020-04-03 19:36] shaftoe commented on #254
@hencrice yeah sorry for the late, I didn't have the chance yet to try it out but it looks like you pointed me into the right direction, many thanks

[2020-04-06 16:00] NGL321 commented on #271
Hey @andrefedev,

What are you looking for in particular here? I'm hearing that you want an example of a microservice architecture in CDK?
I'm just trying to figure out what the effort would be to implement so we can put it on our backlog.

TIA!
😸

[2020-04-06 18:45] NGL321 commented on #270
@pszabop,

I don't want to say too much at the moment (since its close), but there is a project in-flight. I can give an update later this week

😸

[2020-04-06 18:51] NGL321 commented on #259
#270 is asking for a fairly specific example of this. There is an update on the way, but I am going to use that issue as a stand-in for this addition.

😸

[2020-04-06 18:51] #259 closed

[2020-04-06 23:32] pszabop commented on #270
Thanks.

I posted similar question with related use cases on stack overflow

https://stackoverflow.com/questions/60984070/cft-to-cdk-migration-how-to-reference-cft-created-objects-from-cdk-code

[2020-04-09 05:19] oscarnevarezleal commented on #195
I have a working demo [here](https://github.com/oscarnevarezleal/api-cors-lambda-crud-dynamodb) , take a look 👍

[2020-04-13 23:39] bminahan73 commented on #261
I ran into this as well. The example this issue is referring to just includes the Typescript files under src but not the required node_modules directory or package.json.

[2020-04-20 20:29] SomayaB commented on #271
Closing for now since there hasn't been a response in a while. Feel free to reopen.

[2020-04-20 20:29] #271 closed

[2020-04-23 14:47] nazreen opened #276 "typescript - api-cors-lambda-crud-dynamodb -missing uuid in package.json"
## :bug: Bug Report

### What is the problem?
Error message `Error: Cannot find module 'uuid/v4` when testing `create` function.

### Reproduction Steps
1. deploy the stack as per instructions
2. go to the AWS Console and test `createItem` function with the following test event:

[code]

3. The result will be that the task timed out. Go to Cloudwatch and view the log for the function. It will comp

[2020-04-23 19:09] hossain-rayhan commented on #276
Hi @nazreen , thanks for creating the issue. I was able to reproduce it. Will update once I finish testing your PR.

[2020-04-23 21:44] nazreen commented on #276
hi @hossain-rayhan , I realised my PR was wrong. I am going to update it now.

[2020-04-23 22:17] nazreen commented on #276
@hossain-rayhan I have updated the issue description with more detail on the error and the solution. I will submit a PR with the fix now.

[2020-04-23 22:19] nazreen commented on #276
ok so the fix to this issue is in #278

[2020-04-23 22:37] nazreen commented on #261
@leopic  your second error, I encountered it as well, and I've submitted a PR to address it: #278

the solution fortunately does not require the `index.ts` code to be changed because `lambda.assetCode()` will also bundle the `node_modules` for deployment

[2020-04-26 16:22] martinschaef opened #279 ""Your account must be verified before you can add new CloudFront resources""
## :question: Guidance Question

### The Question

The README at https://github.com/aws-samples/aws-cdk-examples/blob/master/java/static-site/README.md should mention that personal accounts need a [rate limit increase](https://forums.aws.amazon.com/thread.jspa?threadID=307967) otherwise the stack creation fails with:
[code]

### Environment

  - **CDK CLI Version:** 1.35.0 (build e0810c8)
  - **Ex

[2020-04-30 10:01] chadluo opened #280 "Run Java examples missing `cd` step"
## :bug: Bug Report

### What is the problem?

The Run Java example instruction on the project root README.md is missing one `cd` step.

### Reproduction Steps

Go to [Java Examples](https://github.com/aws-samples/aws-cdk-examples#Java) section.

### Verbose Log

_NA_

### Environment

  - **CDK CLI Version:** `1.36.1 (build 4df7dac)`
  - **Example:** _NA_
  - **Example Version:** _NA_
  - **OS:**

[2020-05-05 11:07] RoKish opened #284 "Static site example fails in Java with 'No stack could be identified' error"
## :bug: Bug Report

### What is the problem?

The [static-site](https://github.com/aws-samples/aws-cdk-examples/tree/master/java/static-site) example fails with the following error message while trying to synth the cloud assembly:
[code]

### Verbose Log
[code]

### Environment

  - **CDK CLI Version:** 1.35.0
  - **Example:** static-site
  - **Example Version:** 1.0.0
  - **OS:**  OSX Mojave
  -

[2020-05-06 06:49] sobolevan opened #286 "Incomplete README for my-widget-service (typescript)"
Tried the following as suggested in the README:

[code]

but got an error:
[code]
[my-widget-service](https://github.com/aws-samples/aws-cdk-examples/tree/master/typescript/my-widget-service
)

So, the bootstrap step is missing, which should create S3 bucket for lambda assets.

[code]

[2020-05-07 08:27] machielg commented on #112
Since CDK and Cloudformation are lagging behind in the ECS-EFS support, I created a custom resource which creates a TaskDefinition with the new EFS mounts in it. Trying to use this task definition results in above error. Perhaps there should be a separate property taskDefinitionArn to specify an external task definition, to avoid confusion with creating one on the spot.

[2020-05-07 23:22] #280 closed

[2020-05-08 00:14] NGL321 commented on #239
@davidmoten,

Thank you for the catch. This looks like it warrants a more thorough sweep of the Java examples to ensure they are of an acceptable quality.

These examples are tested via a CI test suite, but it seems linting is not presently run on the Java examples.

[2020-05-08 00:50] NGL321 commented on #276
Hey @nazreen, I apologize for the delay in response!

It appears that the issue is not the `package.json` but that the `uuid` package actually introduced a [breaking change](https://www.npmjs.com/package/uuid#deep-requires-now-deprecated) to the way it handles imports. You can see the issue was also experienced with just [lambda](https://stackoverflow.com/questions/60610487/aws-lambda-error-cannot

[2020-05-08 01:41] nazreen commented on #276
@NGL321 ,

ok, so I tried updating the line to:
`const { v4: uuidv4 } = require('uuid');` per the latest instruction from the npm page, the new error is `"Error: Cannot find module 'uuid'"`

correct me if I'm wrong, but `uuid` is not a built-in node module, so it has to be installed via npm anyways right?

[2020-05-08 02:21] NGL321 commented on #276
@nazreen After verification, you are correct. Actually, in hindsight, I am surprised this worked to begin with 🤷.

The proper solution to this would be to utilize a [Lambda Layer](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-lambda-readme.html#layers), however the solution proposed [here](https://github.com/aws-samples/aws-cdk-examples/issues/261#issuecomment-604604186) of zipping the whole

[2020-05-08 02:59] NGL321 commented on #261
Hey @leopic,

Thank you for bringing this up to our attention, and I apologize for the delay in response. This is the same root cause as the issue @nazreen found. Since he put in work on a fix, I am going to make that issue the tracking issue for this fix.

In short, @codypenta was correct, this was a combination of the `uuid` library implementing some breaking changes, and the library itself not

[2020-05-08 03:02] nazreen commented on #276
@NGL321 thanks for the quick response! Going to write this now before I go to bed (will continue tomorrow). I'd like to see this through, don't worry!

Okay, so the deployment package approach, is the approach in this PR. AFAIK, cdk's `lambda.AssetCode()` will bundle the specified directory. All its contents will be uploaded as the lambda code, in this case, including the `node_modules` folder.

H

[2020-05-08 04:39] rragundez commented on #112
Any update on fixing this bug?

[2020-05-08 05:17] pahud commented on #112
Let's watch and comment on this issue
https://github.com/aws/aws-cdk/issues/6240

[2020-05-08 18:27] #267 closed

[2020-05-09 05:19] liusongdu opened #287 "ARN arn:aws:iam::aws:policy/arn:aws:iam::aws:policy/AmazonDynamoDBFullAccess is not valid. (Service: AmazonIdentityManagement; Status Code: 400; Error Code: InvalidInput"
Around line 90 of the file vim app_sync_cdk/app_sync_cdk_stack.py may need to modified as below:
[code]

[2020-05-12 14:58] #284 closed

[2020-05-13 09:33] rix0rrr commented on #287
I think they're right.

[2020-05-13 13:26] nazreen commented on #276
@NGL321 bump :) just checking if you're aware of this

[2020-05-14 11:57] namedgraph commented on #222
Any progress on this?

[2020-05-14 18:08] NGL321 commented on #222
@namedgraph I don't think anyone is presently working on this (contributions are super appreciated!).
Neptune still doesn't have serverless capability, so it remains blocked on that front.

[2020-05-14 18:50] amilnayar92 commented on #238
@iamhopaul123 I am still facing this issue even after providing the `env`. This error only happens when i use nested stacks. For normal stack it works fine! Using cdk 1.38.0

[2020-05-14 18:53] iamhopaul123 commented on #238
@amilnayar92 can you open another issue and provide more details about the issue you have?

[2020-05-14 23:24] bionicles commented on #222
Alas, there are 50 billion graph databases but none serverless

[2020-05-15 06:53] amilnayar92 commented on #238
@iamhopaul123  Two issues open with same errors: https://github.com/aws/aws-cdk/issues/5547 and https://github.com/aws/aws-cdk/issues/4651

[2020-05-15 12:58] burtoni opened #289 "Example for ECS (Fargate) Run Task without a Service"
It's not immediately clear from the examples how to run a Fargate Task with multiple concurrent containers without a service. I'm looking for a replacement for the [`aws ecs run-task`](https://docs.aws.amazon.com/cli/latest/reference/ecs/run-task.html) CLI command, allowing for a one-off task to be initiated and executed and including a `--taskCount` parameter.

Is this possible using the CDK in T

[2020-05-15 13:05] richardhboyd commented on #289
I don’t think CDK supports that. CDK is meant for defining the tasks and setting up the infrastructure to support them, executing tasks is generally a runtime behavior.

I suppose an awscli custom resource could be used if the task is needed as part of a provisioning process, but I would be suspect of such an implementation.

[2020-05-15 13:23] burtoni commented on #289
Thanks for the quick response @richardhboyd .

That makes sense, although to be pedantic the Task is infrastructure, just short-lived infrastructure!

I was able to create a Task behind a Service (though obviously the Service will keep restarting the Task once it completes, assuming I want it to be always available), so I assumed the other use case would be supported too.

[2020-05-15 13:30] richardhboyd commented on #289
If we're going to be pedantic, the Task is definitely infrastructure, executing it is not. CDK will allow you to create a Task, but it'll take some extra work to execute it as part of your infrastructure provisioning process.

`aws ecs run-task` takes a `--task-definition` property which points to the ARN for a provisioned Task.

TaskDefinitions can be created with the [TaskDefinition](https://doc

[2020-05-15 14:20] burtoni commented on #289
Let me explore the custom resource construct but it may be sufficient to create the task definition in CDK (which has some other nice features for my use case) and use the aws cli to run it.

Apologies for the throwaway pedantic comment, was a poorly chosen phrase.

[2020-05-15 14:21] #289 closed

[2020-05-15 17:07] iamhopaul123 commented on #238
@amilnayar92 oh seems like it is a route53 problem. `HostedZone.fromLookup` just doesn't work for nested stack. We probably are not able to solve it on our end but glad to be informed about the existence of this issue!

[2020-05-20 09:38] mathieudevos opened #292 "Region parameter missing in static-site aws-cdk example"
## :bug: Bug Report

### What is the problem?
Deploying the static website example to any region other than `us-east-1` fails due to the certificate not being created in that region

### Reproduction Steps
Set region to anything but `us-east-1`
Deploy the cdk example
Expected: static website deployed
Outcome: cloudfront cannot find the certificate, stack rollback

[2020-05-22 09:32] kairs opened #294 "Error running cdk deploy on capitalize-string"
## :bug: Bug Report

### What is the problem?
Running the "capitalize-string" causes an error in "cdk deploy"
https://github.com/aws-samples/aws-cdk-examples/tree/master/csharp/capitalize-string#this-project

Ref: MSBUILD : error MSB1008: Only one project can be specified.

This seems to be related to cdk.json (https://github.com/aws-samples/aws-cdk-examples/blob/master/csharp/capitalize-string/cd

[2020-05-28 02:12] NGL321 commented on #292
Thanks for reporting this bug! I will give the PR a review and that should close out this issue.

😸 😷

[2020-05-28 02:27] #292 closed

[2020-05-28 02:49] #261 closed

[2020-06-05 18:26] w2fong opened #299 "Please update new rule.addTarget example from lambda-cron"
## :question: Guidance Question

### The Question
Example from lambda-cron/index.ts seems to be out dated compare to recent change of "addTarget" to (handler: IFunction, prop?: LambdaFunctionProps )

I am referring to the following example:
https://github.com/aws-samples/aws-cdk-examples/blob/master/typescript/lambda-cron/index.ts

### Environment
  - **Example:**
Error message "Argument of type '

[2020-06-11 22:30] SoManyHs opened #300 "Change default branch name"
Would it be possible to change the name of the default branch in this repo from "master" to "mainline" or some other alternative? This is already a convention at Amazon internally, and would be compliant with the recommendation by the IETF: https://tools.ietf.org/id/draft-knodel-terminology-00.html

Thanks!

Related: https://github.com/aws/jsii/issues/1733, https://github.com/aws/aws-cdk/issues/84

[2020-06-11 22:53] richardhboyd commented on #300
I strongly support this!!!

[2020-06-17 14:50] jayakumarselvan opened #303 "A single multistack creates multiple pipline to deploye single s3 bucket - How?"
**Python CDK**
A single multistack creates multiple pipeline.
The all pipelines want to deploy the code in single s3 bucket.
Now i'm getting bucket name already exists in stack.
How to achieve this scenario???

[2020-06-17 22:40] si3mshady opened #304 "Please post an example of using CDK with ElasticSearch with python"
I really needed an example of how to set up ElasticSearch with CDK, I dont want to use other IAC tools, unfortunately there is none.
I tried setting it up on my own with what I hoped was a bare bones deployment of an ES cluster however, there is not sufficient guidance to help with that. Can someone please just post an example

/3 | 5:25:52 PM | CREATE_IN_PROGRESS   | AWS::CDK::Metadata         |

[2020-06-17 23:02] orozcoadrian commented on #304
I'm currently working on deploying ElasticSearch with cloudformation. I'm not done yet but I was able to get an initial deployment following this: https://aws.amazon.com/blogs/field-notes/launch-amazon-elasticsearch-service-with-amazon-cognito-user-pools/ (I generated the template using the cdk but deployed it manually via the cloudformation console)

I ran into that same EBS error. [This](https:/

[2020-06-19 18:36] dkboon01 opened #305 "Can anyone post example of creating load balancer listener rule using CDK python to produce this?"
![listenerrule](https://user-images.githubusercontent.com/11353230/85169702-409b7a80-b23a-11ea-95af-c4571a851282.png)

[2020-06-22 17:16] skinny85 commented on #303
Hello @jayakumarselvan ,

I believe you're looking for the `s3.Bucket.from_bucket_attributes()` method: https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_s3/Bucket.html#aws_cdk.aws_s3.Bucket.from_bucket_attributes

Thanks,
Adam

[2020-06-22 17:36] jayakumarselvan commented on #303
Thanks Adam,
`target_bucket = s3.Bucket.from_bucket_arn(self, "BucketByArn", "arn:aws:s3:::**_BUCKET_NAME_**")`
Got it. I Made by using ARN

[2020-06-22 18:06] #303 closed

[2020-06-23 01:05] jayakumarselvan opened #307 "AWS CDK pipeline - Insufficient permissions while pulling source from GitHub"
I'm trying to make pipeline through AWS CDK with python.

That pipeline simply pulling source from GitHub and deploy to S3 bucket.

When I'm deploy the pipeline (like 'cdk deploy cdkabc'), the pipeline is creting.

But trying to release the pipeline, i'm getting error
[code]

The I'm editing the source same pipeline through AWS Console and connect to the GitHub. It is working.

Reference code: htt

[2020-06-24 06:29] githbsingh opened #308 "sample code for creating mysql aurora serverless instance in existing ec2 vpc."
## :question: Guidance Question

### The Question

I can see the similar sample code in python under rds but not for typescript.
### Environment

  - **CDK CLI Version:**  1.46.0 (build 63860b2)
  - **Example:** Shared Image below
  - **Example Version:**
  - **OS:**  Windows 10
  - **Language:** TypeScript

### Other information

![pythonExample](https://user-images.githubusercontent.com/47235658

[2020-06-24 07:37] josephluck commented on #270
Hey :smile: any news on the project?

[2020-06-25 04:11] SomayaB commented on #308
Hi @githbsingh, thanks for opening this issue. I'm not sure what your ask is though. Do you need guidance, are you asking for a new example to be added or are you contributing your own example?

[2020-06-25 04:19] SomayaB commented on #307
Hi @jayakumarselvan, thanks for opening an issue. This repo is for examples that are not included in the documentation and so your issue belongs in the main CDK repo. I've opened a new issue for you there https://github.com/aws/aws-cdk/issues/8731. I will be closing this issue so please follow along there. Thank you!

[2020-06-25 04:19] #307 closed

[2020-06-25 07:37] dave-graham opened #309 "Lambda gradual deploy example, with automated roll back"
## :rocket: Feature Request

### Description
Is there any chance you could create a lambda based example of gradual deploys with automated roll back if there are issues?

### Proposed Solution
The key functionality is available in https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/automating-updates-to-serverless-apps.html but I would love to be able to use CDK instead.

[2020-06-26 09:43] githbsingh commented on #308
Hi Soumya,

I want new example to be added for creating RDS under existing ec2 vpc
instance in typescript/python.

Please let me know if further information is needed.

Thank You.
Regards,
Manohar Kumar Singh.

On Thu, 25 Jun 2020, 09:42 Somaya, <notifications@github.com> wrote:

[2020-06-26 14:50] nija-at commented on #309
As far as I know, this doesn't exist in the CDK and will have to be built as a brand new construct.

It's also not clear if this is something we would add here as part of the CDK. The AWS solutions team has started building up a library of useful patterns like this - https://github.com/awslabs/aws-solutions-constructs.

It may be worth opening an issue in their repo. Leaving this open for now.

[2020-06-26 21:09] iliapolo commented on #304
Hi @si3mshady.

Currently, the [aws-elasticsearch](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-elasticsearch-readme.html) module only contains the auto-generated `Cfn*` constructs. This means that its API is strictly a one-to-one mapping of the underlying CloudFormation template spec.

Interacting with these resources is just a matter of looking at the [API reference](https://docs.aws.amaz

[2020-06-26 21:09] #304 closed

[2020-06-27 00:31] amitksahu opened #311 "[custom-resources] cfnresponse.send in python using CDK"
## :question: Guidance Question
As per the latest documents "https://docs.aws.amazon.com/cdk/api/latest/docs/custom-resources-readme.html" cfnresponse is now part of CDK construct. Could you please share some examples of how to implement is using python.
How to call cfnresponse.send?

### The Question

### Environment

  - **CDK CLI Version:**
  - **Example:**
  - **Example Version:**
  - **OS:**

[2020-06-29 11:19] nija-at commented on #177
Apps under the CDK examples repos showcase non-trivial use cases of the CDK or integrations across AWS services. They will not carry a full blown production application unless the application is very simple.

The examples in the repository will show examples and recommendations on how to use the CDK, but will not carry any opinions or recommendations around project structure, code organization, ma

[2020-06-29 14:40] SomayaB commented on #311
Hi @amitksahu, the duplicate issue you've opened in the main CDK repo was the right place to ask for guidance. The examples repo is for additional examples included in this repo and not in the API reference. We can keep this issue open as a feature request to add an example for this though.

[2020-06-30 17:32] gmiretti commented on #130
Making an `aws-samples/aws-cdk-examples` for python using bundling would be great.

Mainly because the example code in section "Bundling asset code" in CDK Python docs (v 1.47.1) doesn't work
( published in https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_lambda.README.html#id3 )

[2020-06-30 18:07] stilren commented on #276
Anyway we could get a fix for this? Would be good with an example showing how to do external dependencies with ts cdk

[2020-06-30 18:49] alukach commented on #130
@gmiretti Can you expand on this? What tweaking did you need to make this function as expected?

[2020-06-30 20:25] gmiretti commented on #130
Mostly the usual missing translation from typescript to Python (lambda underscored, no __dirname, correct multiline string, etc.)

[code]
where the dir layout is:

[code]

Also to test it locally you have to do `chmod -R 777 .cdk.staging` after `cdk synth --no-staging > template.yaml` because of https://github.com/aws/aws-cdk/issues/8707

[2020-07-01 16:26] maskerade commented on #226
Unable to replicate this today with CDK version 1.48.0 (build 6080fa8)

[2020-07-07 06:57] willievu opened #314 "[cdk-eks] Error "The security token included in the request is invalid" when creating a cluster"
## :question: Guidance Question

### The Question

I am trying to create an EKS cluster using CDK.  I used the example source in https://github.com/aws-samples/aws-cdk-examples/blob/master/typescript/eks/cluster/index.ts.  At deployment, I encounter the following error.  Any ideas?

[code]
Full cdk deploy log is attached.

### Environment

  - **CDK CLI Version:**   cdk version 1.49.1 (build 7d632

[2020-07-07 12:01] richardhboyd commented on #314
You may also need to refresh the browser where your Cloud9 IDE is running to force it to pick up the instance profile credentials.

[2020-07-08 02:46] willievu commented on #314
I did remove aws cli credentials and restart Cloud9 instance and browser.

[2020-07-09 17:10] #73 closed

[2020-07-09 17:15] NGL321 commented on #311
As noted in the question on the main repo, you should not need to interface with `cfnresponse`.

From eladb:

[2020-07-13 14:25] raghu431 opened #316 "System.ComponentModel.Win32Exception: 'The system cannot find the file specified. for AWS.CDK in c#"
When we are trying to run the CDK application using DotnetSDK

It throwing exception when it tries to execute   App stack = new App();  line of code.

Exception message :
[code]

[2020-07-14 05:47] raghu431 commented on #316
Currently iam using VS2019 community edition in windows

[2020-07-14 06:02] #311 closed

[2020-07-24 02:45] fahedhijazi commented on #316
You probably didn't run: `npm install -g aws-cdk`

That dependency is required for it to work I think.

[2020-07-25 00:36] dekoza commented on #222
Any example of Neptune CDK config set to interact with other services like S3 would be great.

[2020-07-31 17:16] rustlingwind opened #322 "Add EKS example (including EKS fargate)"
## :rocket: Feature Request

### General Information

* [ ] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

### Proposed Solution

### Environment

  - **CDK CLI Version:**
  - **Example:**
  - **Example Version:**
  - **OS:**
  - **Language:**

### Other information

[2020-08-06 21:50] NGL321 commented on #60
Closing due to age and answer.

😸

[2020-08-06 21:50] #60 closed

[2020-08-06 21:56] NGL321 commented on #89
Reviewing older issues, the above guidance about checking versioning of dependencies should resolve the separate declarations issue. Is anyone still struggling with this?

[2020-08-06 22:34] NGL321 commented on #237
@geof2001,

Did Richard's answer above help you with this? This seems like too specific of a use-case to have its own example (I could be wrong). If you disagree or the above didnt help, please leave a comment and I will update.

[2020-08-06 22:47] NGL321 commented on #299
Hey @w2fong,

Sorry for the delay. The error message `Argument of type 'X' is not assignable to parameter of type 'IX'` is typically indicative that your packages are using 2 different versions of the CDK.

Could you check the versions and try again? (I was unable to reproduce the issue you are encountering)

[2020-08-06 23:44] NGL321 commented on #232
Hey @abaccin,

Sorry for the delay. My first suggestion is that rather than `CfnQueueProps` you should use `QueueProps`. The former is the raw Cloudformation resource from the L1 construct while the latter is the suggested props from the L2.

The JSII error strikes me as unrelated, but may have to do with different versions of the SQS library vs the core cdk library.

If you are still encountering

[2020-08-06 23:56] NGL321 commented on #314
@willievu,

Sorry for the delay in response, Richard is correct that this is an issue with your AWS credentials.

Did you set up your credentials following [this guide](https://docs.aws.amazon.com/cloud9/latest/user-guide/credentials.html#credentials-permanent-create)?

If you are still running into the credential problem and you set up the credentials following the guidance from the Cloud9 docs,

[2020-08-11 06:02] #89 closed

[2020-08-11 06:02] #237 closed

[2020-08-11 06:02] #299 closed

[2020-08-11 14:36] josjaf commented on #163
I have this in Python if anybody is interested

[2020-08-13 17:14] SomayaB opened #324 "test"
## :question: Guidance Question

### The Question

### Environment

  - **CDK CLI Version:**
  - **Example:**
  - **Example Version:**
  - **OS:**
  - **Language:**

### Other information

[2020-08-13 18:37] SomayaB commented on #324
@ecs

[2020-08-13 18:37] #324 closed

[2020-08-19 06:01] #232 closed

[2020-08-19 06:01] #314 closed

[2020-08-20 12:18] pedramha opened #326 "Use of Step Function CustomState in CDK"
## :question: Guidance Question

### The Question

I would like to know how to define a whole state machine in Amazon State Language and provision it as a resource in CDK using the CustomState construct in CDK.

### Environment

  - **CDK CLI Version:** 1.59.0 (build 1d082f4)
  - **Example:** stepfunctions-job-poller
  - **Example Version:** 207
  - **OS:** Windows 10
  - **Language:** TypeScript

[2020-08-27 00:51] thedevopsguyblog opened #327 "is this warning still needed?"
https://github.com/aws-samples/aws-cdk-examples/blob/a4cfbd7ec683ece8a20cdceae275a0248a994fc7/typescript/ecs/cross-stack-load-balancer/split-at-targetgroup.ts#L46

Looks like we are at ~1.54 so this can be updated

[2020-08-31 11:39] mscheer93 opened #329 "Example: setting up a private integration with a alb/nlb using new aws-apigatewayv2 module"
## :rocket: Feature Request

### General Information

* [ ] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

Since the migration of HTTP API into the new [aws-apigatewayv2](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-apigatewayv2-readme.html) module, it is unclear to me how to use the module to set up a pri

[2020-08-31 22:18] sakopov commented on #232
I could be missing something but it doesn't look like `QueueProps` defines `RedrivePolicy` property. However, `CfnQueueProps` does.

[2020-09-02 11:24] nija-at commented on #329
We don't have support for vpc link in the `aws-apigatewayv2` module.

I've opened an issue to track this - https://github.com/aws/aws-cdk/issues/10119. Examples will be available once this feature has been implemented.

[2020-09-02 11:24] #329 closed

[2020-09-05 20:22] sachin10101998 commented on #276
Any fix available for this yet?

[2020-09-07 05:29] NGL321 commented on #316
Hi @raghu431,

@fahedhijazi is correct that is a prequisite, are you still encountering your issue after installing the npm cdk package?

😸 😷

[2020-09-07 06:37] NGL321 commented on #286
Thanks for the fix! Issue should close with PR

[2020-09-07 06:40] NGL321 commented on #244
Should have been closed by #252

[2020-09-07 06:40] #244 closed

[2020-09-07 15:50] nom3ad opened #332 "python/fargate-service-with-autoscaling does not work"
## :bug: Bug Report

### What is the problem?

aws-cdk-examples/python/ecs/fargate-service-with-autoscaling/app.py throwing following error
[code]

  ['kwargs'](https://github.com/aws-samples/aws-cdk-examples/blob/bb182579313dca6a91c630a116fc66cc3921f412/python/ecs/fargate-service-with-autoscaling/app.py#L12)  supposed to be a key-worded argument instead.

### Environment
  - **CDK CLI Version: 1.

[2020-09-07 16:23] congadevuser commented on #316
After NPM install , its working fine, is there any way to add this NPM as part of nuget install itself or else somewhere it should be documented

[2020-09-07 16:24] raghu431 commented on #316
After NPM install , its working fine, is there any way to add this NPM as part of nuget install itself or else somewhere i in documentation

[2020-09-07 17:16] NGL321 commented on #316
@raghu431,

Glad to hear it! Actually, the documentation in the [Developer Guide](https://docs.aws.amazon.com/cdk/latest/guide/getting_started.html) is pretty solid on the npm requirement, so I am going to close this as resolved for now.

Thank you again for reporting!
😸 😷

[2020-09-07 17:16] #316 closed

[2020-09-07 20:58] bbarthel commented on #276
A easy fix is to use
const crypto = require('crypto');
item[PRIMARY_KEY] = crypto.randomBytes(16).toString("hex");

[2020-09-08 11:56] kazijn opened #334 "Fargate Service with NLB missing securitygroup details"
## :bug: Bug Report

### What is the problem?
When running the ECSFargateLoadBalanced sample in Java there is a statement missing to add the correct ingress rule to the fargate linked securitygroup.

### Reproduction Steps
Just run the sample and you will not be able to connect to the sample app via the public url.

### Environment

  - **CDK CLI Version:** 1.62.0
  - **Example:** fargate-load-bal

[2020-09-08 11:57] kazijn commented on #334
I don't seem to be able to add a pull request to this issue but the missing line is:
`fargateService.getService().getConnections().allowFromAnyIpv4(Port.tcp(80));`

[2020-09-11 20:02] aang7 commented on #212
Yet there is not an example? :cry:

[2020-09-17 16:21] stephenhibbert opened #335 "appsync-graphql-dynamodb example fails due to incorrect role name"
Lines 90-45 in **app_sync_cdk_stack,py** references a managed policy by name using the ARN:

        items_table_role.add_managed_policy(
            ManagedPolicy.from_aws_managed_policy_name(
                'arn:aws:iam::aws:policy/AmazonDynamoDBFullAccess'
            )
        )

It should refer to the name as follow:

        items_table_role.add_managed_policy(
            ManagedPolicy.fro

[2020-09-30 18:43] SomayaB commented on #327
@thedevopsguyblog thanks for the catch!

[2020-10-04 17:21] Temkit commented on #279
same bug here !!

[2020-10-05 02:58] #286 closed

[2020-10-05 03:28] #332 closed

[2020-10-05 03:29] NGL321 commented on #226
@maskerade thanks for the check!

This has been fixed. Closing out the issue

😸 😷

[2020-10-05 03:29] #226 closed

[2020-10-05 03:36] NGL321 commented on #334
Thanks for reporting, I will add this fix!

😸 😷

[2020-10-21 18:25] #335 closed

[2020-10-23 14:02] esteban-uo commented on #130
I just published a simple example to deal with it, hope it helps someone else https://github.com/esteban-uo/aws-cdk-python-application-dependencies (based on https://stackoverflow.com/a/61248003)

[2020-10-23 15:39] kishoreallwynraj commented on #322
I can contribute a C# example for this feature request.

[2020-10-31 23:30] kastork opened #359 "update fargate-service-with-efs"
## :rocket: Feature Request

### General Information

* [ ] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

Request example update to use cdk 1.71.0 or later.

Based on the documentation, CDK now supports

* The creation of EFS access points
* EFS mounts in task definitions
* The ability to set the Fargate platfor

[2020-10-31 23:35] kastork commented on #359
@maskerade Giving you a ping in case you're interested -- since the example originated with your PR.

[2020-11-02 16:19] ScottHand opened #360 "AWS AppConfig Hosted Configuration Typescript Example"
## :rocket: Feature Request

### General Information

* [ x] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

Provide a Typescript example of AWS AppConfig hosted configuration with a Lambda that consumes the configuration data implement a feature toggle using the AppConfig Lambda Extension integration.

### Propos

[2020-11-02 18:25] ScottHand commented on #360
solution currently exists in a PR - https://github.com/aws-samples/aws-cdk-examples/pull/361

[2020-11-06 08:21] vishalisakar opened #362 "POST and PATCH methods does not works in api-cors-lambda-crud-dynamodb"
I have cloned the example **api-cors-lambda-crud-dynamodb** in typescript language and followed the instruction given in the repository. I was success in deploying and tried the endpoint in the Postman. only the get all, get one item, and delete items endpoints works. My write operation such as create and update methods does not work. It throws following errors.

This is an error I get for Creat m

[2020-11-06 11:15] tuxinaut opened #363 "Example self referencing securtiy group"
## :rocket: Feature Request

### General Information

* [X] :wave: I may be able to implement this feature request

### Description

I spend yesterday quite some time to find the solution on how to implement a **self-referencing security** group with AWS CDK. Having this as an example could help other people.

### Proposed Solution

Add this example to all languages.

[2020-11-19 16:43] kishoreallwynraj commented on #322
@NGL321 i have summited a PR with a C# example for EKS. This is based on EC2 nodes.

[2020-11-22 07:13] khbvirus commented on #163
@josjaf interested in the python solution for this.

[2020-11-22 17:32] josjaf commented on #163
I'll post it on github for you tomorrow

[2020-11-23 13:46] TheMurxOr opened #367 "S3 Bucket.FromBucketName returns invalid interface"
## :bug: Problem to process result  Bucket.FromBucketName within C# implementation

### On Function Bucket.FromBucketName retrieval of object IBucketProxy
When I try to retrieve an already existing Bucket from the S3 inventory, via the FromBucketName method
 in  package Amazon.CDK.AWS.S3  Version="1.74.0"
I retrieve the unexpected object IBucketProxy instaead of IBucket.
This results in the typeca

[2020-11-23 16:12] josjaf commented on #163
https://github.com/josjaf/aws-cdk-examples/tree/feature/vpc/python/vpc

[2020-11-25 11:39] dgonzalez commented on #299
This still happens to me.

[2020-11-29 16:53] tinynet opened #369 "Execution Error: Cannot find module 'uuid/v4 in typescript ApiLambdaCrudDynamoDBExample"
## :bug: Bug Report

Error executing the create function in typescript/api-cors-lambda-crud-dynamodb project

### What is the problem?

The RestApiCrudLambdaDynamoDB-createItem lambda function cannot be executed because cannot find module 'uuid/v4'.
The project deploys an API gateway integrated with lambda functions that execute simple CRUD on a DynamoDB table.

### Reproduction Steps

Simply inst

[2020-12-04 15:27] kastork opened #370 "Exemplify use of core.Stage class"
## :rocket: Feature Request

### General Information

* [ ] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

The term "Stage" is very overloaded across AWS services.  CDK adds yet another stage in the form of `@aws-cdk/core.Stage`.

So far, the documentation for CDK doesn't say much about Stage or how it should be

[2020-12-07 21:22] rickggaribay commented on #110
Thanks @JoshM1994 your suggestion worked great and seems like a simple solution to work around the dependency issue. I hadn't considered that you could have multiple node_modules within one "project". Simple workaround that doesn't feel like a hack at all. Thank you.

[2020-12-08 20:15] #327 closed

[2020-12-18 11:00] GlennHoran commented on #110
Thanks for one of the best answers I've seen on github @JoshM1994 , it was exactly what I was looking for.

[2020-12-18 17:38] ctrlplusb commented on #289
@burtoni I am needing the same thing. Would be interested to hear your final solution to this problem.

[2020-12-18 19:46] zafarella opened #374 "Add samples on elastic search [TypeScript]"
## :rocket: Feature Request

### General Information

* [ ] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

There are no samples on elastic search. The basics are clear, however adding permissions, etc are problematic for people not familiar with the SDK/CDK.

### Proposed Solution

### Environment

  - **CDK CLI

[2020-12-24 16:36] evayde commented on #238
@iamhopaul123 You've saved me a quintillion hours of debugging. Thanks.

[2020-12-28 05:21] lachlan-vass opened #376 "feature-request : Typescript IAM Role and Policy"
## :rocket: Feature Request

### General Information
* [x] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

Show how to create an IAM role, IAM policy with multiple statements and add the policy to the IAM role.

### Proposed Solution

Can be done by extending the iam.Role and iam.Policy classes (to hide implementa

[2020-12-29 14:08] el-veee opened #377 "feature-request: Resource and Stack tagging patterns"
## :rocket: Feature Request

### General Information

* [x ] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

Demonstrate the various methods (good and bad) for tagging resources and stacks. This can be accomplished by accessing the tag property of individual constructs (like an ec2.Instance) or iterating through t

[2021-01-01 18:07] hom-bahrani commented on #110
thanks @JoshM1994 for your answer, I ran into this issue some time back and thought it might be a problem with my code bundling logic with webpack/rollup.

[2021-01-04 04:02] NGL321 commented on #270
My apologies for the delay, this got left behind.

You can find a library for including Cloudformation [here](https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/cloudformation-include)

😸 😷

[2021-01-04 04:02] #270 closed

[2021-01-04 04:24] NGL321 commented on #370
Hey @kastork,

After a quick review, I agree that the documentation of `Stage` does not quite fully encapsulate the concept. With that said, I dont think that an example will resolve this problem though.

Could you give more details about what you think is missing/incomplete/unhelpful so we can work on improving it?

@Jerry-AWS any thoughts on this?

😸 😷

[2021-01-04 04:49] NGL321 commented on #369
Missed duplicate. This is a duplicate of #276

[2021-01-04 04:49] #369 closed

[2021-01-04 07:16] alex9311 opened #381 "python api-cors-lambda out of date"
## :bug: Bug Report

### What is the problem?
The python `api-cors-lambda` is out of date. https://github.com/aws/aws-cdk/pull/4211 makes it much more straightforward to enable CORS on a REST API endpoint. The example code should be updated to reflect that.

[2021-01-05 01:35] SoManyHs commented on #300
Any movement on this? @SomayaB @NGL321

[2021-01-08 23:01] alex9311 commented on #130
I ran into this issue as well. I used a solution like @alukach just fine when I was working on my ubuntu machine. However, I ran into issue when working on MacOS. Apparently some (all?) python packages don't work on lambda (linux env) if they are `pip installed`ed on a different os (see [stackoverflow post](https://stackoverflow.com/a/46745234/1618292]))

My solution was to run the `pip install` i

[2021-01-09 18:39] alex9311 commented on #130
Actually, there does appear to be new functionality for preparing python dependencies for lambda functions built into CDK now

https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_lambda_python/PythonFunction.html

[2021-01-11 08:26] JamieMcKernanKaizen commented on #130
Yup, I recently updated an [SO answer of mine](https://stackoverflow.com/questions/58855739/how-to-install-external-modules-in-a-python-lambda-function-created-by-aws-cdk/61248003#61248003) because of this.

[2021-01-13 16:43] bcreedon commented on #294
I ran into the same problem. Changed the cdk.json to this, and it worked:

{
    "app": "dotnet run -p src/CapitalizeString/CapitalizeString.csproj"
}

[2021-01-14 01:18] kastork commented on #370
I suppose I'm looking for a use-case.  When would I use this construct and what does it buy me?  The example would still be useful just to demonstrate how it is useful (IMO).

[2021-01-17 01:05] netaisllc commented on #110
Another vector on the original ask - albeit quite limited - is to include a specific `npm` package as a Lambda Layer. It is trivial to do so with CDK.

[2021-01-17 21:20] NetaNir commented on #110
Have you all [aws-lambda-nodejs](tried https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/) from the CDK main repo?

[2021-01-18 06:51] cycbluesky opened #383 "Can ContainerImage.from_asset support pass options to docker build?"
ContainerImage.from_asset only support pass build_args, can it support pass build options?

e.g  DOCKER_BUILDKIT=1 docker build --ssh bitbucket=$(HOME)/.ssh/id_rsa -t app-service -f Dockerfile .

I need pass DOCKER_BUILDKIT=1,   --ssh bitbucket=$(HOME)/.ssh/id_rsa  when docker build

[2021-01-18 09:14] iamgauravj commented on #212
can someone provide example for "custom lambda authorizer with http api"

[2021-01-18 18:59] mspertus commented on #89
"npm update" solved the issue for me.

[2021-01-19 19:35] marioizquierdo commented on #289
Running the Task once as part of the CDK deploy process is similar to allowing set the `--taskCount` from CDK. If you can run/start the Service from CDK, why not run/start a one-off task as well?

This is needed in some scenarios to allow a full deploy without human intervention. For example, if you have an RDS DB cluster, you may need to create a user with limited privileges to connect from the s

[2021-01-22 03:57] baumannalexj commented on #270
@pszabop try `fromRestApiAttributes`
`const api = apigateway.RestApi.fromRestApiAttributes(this, 'AnArbitraryUniqueName', 'apiGateway' );`

docs: `Import an existing RestApi that can be configured with additional Methods and Resources.`
https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-apigateway.RestApi.html#static-fromwbrrestwbrapiwbrattributesscope-id-attrsspan-classapi-icon-api-icon

[2021-01-27 21:46] falnyr commented on #89
![](https://i.ibb.co/H7Vp36t/download.png)

[2021-01-31 21:11] LosAlamosAl opened #385 "cognito-api-lambda is proxied even though proxy=false in source"
## :bug: Bug Report

### What is the problem?
When I compile this TypeScript example as specified in README, and I examine the API in the console, the lambda is proxied even though the source contains `proxy=false`. I am having the exact same issue with my code (see my comment below) and landed on this example which I attempted to use to see what my error is.

### Reproduction Steps
Clone a clean

[2021-01-31 21:24] losalamosal commented on #385
Looks like a link to a Slack post is not a good idea. For context, here is the post on my code that is exhibiting the same issue as in your example. I am completely open to the possibility that the example is correct and I misunderstand the expected behavior.

I must be missing something really simple. I can’t get CDK to make a `LambdaRestApi` non-proxy. See the following code snippet:
[code]
This

[2021-02-02 22:03] losalamosal commented on #385
A little more "help" if I may (for what it's worth).

If I set `proxy=true`, and grep `cdk.out/tree.json` I see `AWS_PROXY` as integration type on both `ANY` methods (along with the assorted `{proxy+}` resources).

If I set `proxy=false` and define a couple of methods on the root, I still see an integration type of `AWS_PROXY` on those two methods (though there are no `{proxy+}` resources).

If I

[2021-02-13 01:41] losalamosal commented on #385
FYI, I've opened [an issue](https://github.com/aws/aws-cdk/issues/13026) on the `aws-cdk` repo. I might close this issue after you've had a chance to review it. I can always reopen if needed.

@NGL321

[2021-02-18 11:01] tenjaa opened #386 "feature-request: shared listener in cross-load-balancer example"
## :rocket: Feature Request

### General Information
* [x] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

### Description
The cross-load-balancer example mentions a third option to solve the problem. We just had the need to implement it and would be open to extend the example.

### Proposed Solution

We provide a PR with our solut

[2021-02-20 07:59] spyoungtech opened #387 "Python examples don't pass type-checking, contain errors"
## :bug: Bug Report

### What is the problem?

Some code samples do not pass type checking, e.g. by running `mypy`, as [suggested in the docs](https://docs.aws.amazon.com/cdk/latest/guide/work-with-cdk-python.html#python-type-pitfalls). Specifically, the ecs cluster example does not pass typechecking.

### Reproduction Steps

1. Install MyPy `pip install mypy`
2. Run `mypy python/ecs/cluster/app.p

[2021-02-22 17:31] its-mirus-lu opened #388 "Update Typescript example for Custom Resource to use non-deprecated constructs"
## :rocket: Feature Request

### General Information

* [ X] :wave: I may be able to implement this feature request

* [X ] :warning: This feature might incur a breaking change

### Description

The existing Typescript example for custom resources uses deprecated constructs aws-cloudformation.CustomResource and aws-cloudformation.CustomResourceProvider.  I propose to update the code example to use

[2021-02-23 23:27] miruslu-amazon commented on #388
I've discovered how this example could be updated to use the custom resource provider framework from @aws-cdk/custom-resources: https://docs.aws.amazon.com/cdk/api/latest/docs/custom-resources-readme.html

Would it be better to provide a separate example to use aws-cdk/custom-resources or update the existing custom resource example?

[2021-02-24 16:19] reimannlars opened #389 "Amazon ElastiCache for Redis typescript blueprint/template/example"
## :rocket: Feature Request

### General Information
* [ ] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

### Description
It would be a great enablement for users of Amazon ElastiCache for Redis if a typescript blueprint would be available.

### Proposed Solution
Base configuring of a non-cluster / cluster mode for ElastiCache for

[2021-02-24 19:57] miruslu-amazon commented on #389
Would we be able to leverage this?
https://github.com/aws-samples/aws-cdk-elasticache-redis-iam-rbac

It stands up a ElastiCache replication group with RBAC.

[2021-02-26 17:31] its-mirus-lu opened #393 "Typescript example of rotating credentials for a non-supported DB type"
## :rocket: Feature Request

### General Information

* [X] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

Looking at the documentation, it looks like there are only cli examples for rotating credentials for non-supported resource types from Secrets Manager [here](https://docs.aws.amazon.com/secretsmanager/latest

[2021-02-27 05:39] chrischenyc commented on #276
I think using the experimental [@aws-cdk/aws-lambda-nodejs](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-lambda-nodejs-readme.html) is the way to go, works for me:

https://github.com/chrischenyc/url-shortener-cdk-typescript

[2021-02-28 00:52] 007vasy opened #394 "static site example update suggestion"
https://github.com/aws-samples/aws-cdk-examples/blob/b127242c30a70a13241f8a9d29006e7de7f36be1/typescript/static-site/index.ts#L32

`
   account: process.env.CDK_DEFAULT_ACCOUNT,
   region: process.env.CDK_DEFAULT_REGION
`
I made it work by adding this and calling it with:
`
cdk deploy -c domain=<ADD_YOURS> -c subdomain=<ADD_YOURS>t -c CDK_DEFAULT_ACCOUNT=<ADD_YOURS> -c CDK_DEFAULT_REGION=<ADD_YOUR

[2021-03-17 19:13] CreativeMaladjustment opened #398 "instance ec2 from s3 gave me an error"
## :question: Guidance Question

### The Question

After bringing the example code over and running a cdk diff/deploy or synth i get the error below. Which states that the `AttributeError: '_UserDataProxy' object has no attribute 'add_s3_download_command'`, so i comment out those lines, 48 though 57 of app.py in instance/ec2. Things then run fine so i used `instance.user_data.add_commands(f"yum up

[2021-03-18 01:42] smart-patrol opened #399 "fargate-load-balanced-service with default VPC error"
## :question: Guidance Question

### The Question
I am using the` fargate-load-balanced-service` template but with one modification, using the default vpc.

So for the VPC portion that means:
`vpc = ec2.Vpc.from_lookup(self, "default_vpc", is_default=True)`

with finally at the end
[code]

Otherwise, not changes were made. Despite threads on StackOverflow showing otherwise, I get the following err

[2021-03-22 14:31] akshatki opened #400 "Relevant example for creating Events Bridge targeting EC2 instances based on tags."
## :rocket: Feature Request

### General Information

* [x] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

There are no relevant CDK typescript based examples for using constructs to create Events Bridge resource triggering SSM documents on instances.
### Proposed Solution

I have been able to write my own L1 con

[2021-03-23 07:47] smart-patrol commented on #399
Any help would be greatly appreciated...

[2021-03-24 08:23] Simon-SDK commented on #110
We are using those and are really happy about it. We are experiencing small lambda deploys resulting in faster executions as well. Still experimental construct though.

[2021-03-26 14:46] BrandonMichaelWebb opened #402 "AWSCognitoIdentityProviderService; Status Code: 400; Error Code: InvalidParameterException"
## :question: Guidance Question

### The Question

AWSCDK and AWSCLI have both been installed, and when deploying the CDK application I get the following error message:

8:37:22 AM | CREATE_FAILED        | AWS::Cognito::UserPoolDomain                | ICS_USERS_POOL_DOMAIN
Domain already associated with another user pool. (Service: AWSCognitoIdentityProviderService; Status Code: 400; Error Code: I

[2021-03-29 16:02] wzr1337 commented on #110
https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk/aws-lambda-nodejs is the correct link

[2021-04-02 13:11] karthiksonti24 opened #411 "jsii.errors.JSIIError: 'cidr' property must be a concrete CIDR string, got a Token (we need to parse it for automatic subdivision)"
## :question: Guidance Question

### The Question

I'm trying to launch a vpc using cdk(python). I'm passing CIDR Range using a parameter which is giving this error.

[code]

### Environment

  - **CDK CLI Version:** 1.95.0
  - **Example:**
  - **Example Version:**
  - **OS:**  Ubuntu
  - **Language:**  Python

### Other information

My code snippet.
[code]
and that's how I'm passing it .

[code]

[2021-04-08 23:42] armando25723 commented on #89
Always when installing something in version different than core version.

[2021-04-12 20:29] schuettc opened #416 "Typescript EC2 Instance Example"
## :rocket: Feature Request

### General Information
* [X] :wave: I may be able to implement this feature request
* [ ] :warning: This feature might incur a breaking change

### Description
A Typescript example that will deploy an EC2 instance and allow a user to connect easily.

### Proposed Solution
https://github.com/schuettc/aws-cdk-examples/tree/master/typescript/ec2-instance

### Environment

[2021-04-20 10:42] asoursos commented on #294
Try changing ; to && like:

"app": "dotnet publish -c Release CapitalizeStringHandler/src/CapitalizeStringHandler && dotnet run -p src/CapitalizeString"

[2021-04-23 06:20] Fitmavincent opened #422 "Container Port Mapping for FargateService?"
## :question: Guidance Question

### The Question
Does the ecs_patterns.ApplicationLoadBalancedFargateService or ecs.FargateService provides a prop for port mapping for a docker container?

Example:
A Dotnet Core application running in docker usually doing a 5000:80 port mapping.

### Environment

  - **CDK CLI Version:** 1.100.0 (build d996c6d)
  - **OS:** All
  - **Language:** Typescript

[2021-04-23 10:43] xusai2014 commented on #110
Very Cool! I happened to a new issue. how to add two or more functions in Stack. I hope that trigger to deploy multi lambda function when commit the code

[2021-04-24 08:54] markilott opened #423 "ecs/cross-stack-load-balancer/split-at-target-group creates incorrect target type for Fargate"
## :bug: Bug Report

### What is the problem?
ApplicationTargetGroup creates the group with the default target type of Instance (if no targets are registered in the same stack).

A target type of "IP" is required for Fargate, which is used in the rest of the example.

### Reproduction Steps
Deploy using the current example code. Target Type will be created as Instance, and the following registrati

[2021-04-27 11:48] mullicak opened #425 "Request to add content: rekognition_lambda_s3_trigger"
## :rocket: Feature Request

### General Information

* [X] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description
 I created a sample python CDK code that will deploy an S3 bucket, a Python Lambda script that will classify an image and be triggered by S3 object add, and then write the results back to S3 as well as Dynamo

[2021-04-28 18:11] marclyo opened #427 "Sample for CloudWatch Dashboards (Python)"
## :rocket: Feature Request

### General Information

* [X] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description
A sample that demonstrates how to a user can create CloudWatch Dashboards and add widgets using CDK in Python

### Proposed Solution

Pull Request: https://github.com/aws-samples/aws-cdk-examples/pull/426

##

[2021-04-28 20:43] carlsborg opened #428 "ec2 example uses a deprecated role"
## :bug: Bug Report

### What is the problem?

The ec2 example uses the role AmazonEC2RoleforSSM which is deprecated. From here https://aws.amazon.com/blogs/mt/applying-managed-instance-policy-best-practices/ "This policy should be replaced by AmazonSSMManagedInstanceCore and will be deprecated soon."

### Reproduction Steps

### Verbose Log

### Environment

  - **CDK CLI Version:** not related t

[2021-04-29 06:36] aserour opened #430 "Empty (delete all objects) from an Amazon S3 bucket using AWS StepFunctions, Lambda functions and Custom Resources"
## :rocket: Feature Request

### General Information

* [X] :wave: I have implemented and tested this already. PR is ready for review and merge.

* [ ] :warning: This feature might incur a breaking change

### Description

Cleaning up and emptying Amazon S3 buckets before deletion is quite time consuming and painful process specially for buckets with massive amount of objects. While you can do it

[2021-04-29 17:46] marclyo opened #434 "Sample for CloudWatch Dashboards (Typescript)"
## :rocket: Feature Request

### General Information

* [X] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description
A sample that demonstrates how to a user can create CloudWatch Dashboards and add widgets using CDK in Typescript

### Proposed Solution

Pull Request: https://github.com/aws-samples/aws-cdk-examples/pull/435

[2021-05-01 00:09] aserour commented on #411
Hi @karthiksonti24,

You can achieve more or less the same using context parameters.

CDK Stack snippet
[code]
Then you can pass the VPC CIDR dynamically as follows
[code]

[2021-05-01 09:47] karthiksonti24 commented on #411
@aserour Thanks for the suggestion.

[2021-05-01 09:47] #411 closed

[2021-05-06 16:55] PuneetBabbar opened #438 "CDK Example for AWS Glue Workflow including Glue Jobs, Triggers, Crawlers, securtiy group and Database"
## :rocket: Feature Request

### General Information

* [X] :wave: I want to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

This example will be like another example in the REPO.  This new feature request will add another example and will cover everything around AWS Glue, containing AWS Glue workflow,  Glue Jobs, Triggers, Crawlers, sec

[2021-05-09 08:04] syw123456 commented on #279
i faced the same issue, just contacted the support.

[2021-05-13 17:34] alistaim opened #440 "CDK Example - Building an ARM64 Rust development environment using AWS Graviton2 and AWS CDK"
## :rocket: Feature Request

### General Information

* [X] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description
This example is used in an upcoming AWS Blog post that uses the supplied architecture throughout.

### Proposed Solution
This architecture deploys a Graviton2 EC2 instance fronted by an internal ALB and a Glo

[2021-05-14 08:41] elgamala commented on #250
I am going to provide a concrete example for MaintenanceWindow in python

[2021-05-17 07:22] NGL321 commented on #425
Resolving due to merged PR

[2021-05-17 07:22] #425 closed

[2021-05-17 08:27] PuneetBabbar commented on #438
@NGL321 can this be assigned to me ? So can start working on this. thanks

[2021-05-17 08:37] NGL321 commented on #438
We assign internally to the team for who is supposed to shepherd the process. But please feel free to take this on yourself!

Quick heads-up that we are backed up on reviewing contributions to this repo due to some considerations about how to grow/develop it, but if you contribute a PR we will review it as able!

For my part, I think a well-written Glue example would be very useful.

😸 😷

[2021-05-17 13:53] alistaim commented on #440
Thanks @NGL321  for assigning. I can have a PR for all of this ready to go immediatley. If this is approved, then I'll proceed to create one. Many thanks, Alistair.

[2021-05-18 14:05] elgamala commented on #430
@NGL321  It's implemented already, see PR #433

[2021-05-20 19:59] namedgraph opened #446 "CDK example: ecs-service-with-advanced-nlb-config"
I'm trying to follow the examples in https://github.com/aws/aws-cdk/issues/4463 but with `NetworkLoadBalancedEc2Service` and can't get the target registration to work.

Can we please get complex config examples for the `NetworkLoadBalancer`? Something like `ecs-service-with-advanced-nlb-config`, in addition to [`ecs-network-load-balanced-service`](https://github.com/aws-samples/aws-cdk-examples/tr

[2021-05-20 20:30] namedgraph commented on #446
People complain that the NLB setup is under-documented, not only under CDK but in general:
https://stackoverflow.com/questions/62578770/aws-network-load-balancers-and-ephemeral-ports

[2021-05-25 19:12] phch opened #447 "Adding Typescript CDK Example for Lambda Managing S3 Event Notifications"
## :rocket: Feature Request

### General Information

* [X] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

I am submitting a feature request to add in a Lambda managing S3 event notifications CDK example. I am part of the AWS organization and submitting this as part of my I&A blog post.

S3 event notifications in

[2021-05-27 23:54] ddarling85 commented on #250
Hi @elgamala.  Were you able to get something put together in Python yet?  I'm new to the CDK and Python, but just starting to work on creating a Maintenance Window and Task.  If you have some code I could review that would be awesome.

Thanks

[2021-06-02 22:06] VladCherniavsky opened #448 "Adding example of how to do api-gateway lambda integration with integration responses"
## :question: Guidance Question

### The Question

### Environment

  - **CDK CLI Version:** 1.105.0
  - **Language:** TypeScript

### Other information

I didn't manage to find any examples of how to  set integration responses for Lambda Integration
Here I have  few lines of code to put you into picture

[code]

Here I don't see  appropriate  place where I need to provide integration responses

[2021-06-08 16:46] Glyphack opened #451 "(stepfunctions_tasks) PutEvent Task"
## :rocket: Feature Request

### General Information

* [X] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

I see a `Task` class in `aws_stepfunctions` is breaking into specific tasks and move to  `aws_stepfunctions_tasks`. and recently eventbridge integration introduced for stepfunctions. I think it's appropriate

[2021-06-08 16:48] #451 closed

[2021-06-12 05:24] phch commented on #447
https://github.com/aws-samples/aws-cdk-examples/pull/452
Open PR for this request

[2021-06-14 16:35] kastork opened #453 "Add example of api gateway s3 proxy"
## :rocket: Feature Request

### General Information

* [ ] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

Would like to have an example that demonstrates api gateway proxy of S3 resources.

The documentation for api gateway on the AWS website contains an example to proxy S3 resources.  The web console steps don'

[2021-06-16 12:24] OksanaH opened #454 "An example of S3 Object Lambda in C#"
## :rocket: Feature Request

### General Information

* [X ] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description
I was experimenting with S3Object Lambda in CDK for C# and would like to share the solution that worked for me in case it's useful for others. I think it would also be a good example of how L1 Constructs wor

[2021-06-18 11:23] maddy2u commented on #438
@PuneetBabbar  - Are you coming up with this? Would be very useful

[2021-06-21 10:42] praveendp26 opened #455 "api gateway with custom domain mapping"
can we connect api with existing custom domain using cdk?

[2021-06-23 08:29] dhirajkhodade opened #456 "AWS Lambda not receiving parameters passed from custom resource"
## :question: Guidance Question

### The Question

I am trying to create lambda based custom resource using AWS CDK but the parameters that I am passing to lambda using `ResourceProperties `are not being received in lambda event object.

I am not sure what am I doing wrong.

I am getting below error while deploying stack

### CDK Code

[code]

### lambda function code

[code]

### lambda log

[cod

[2021-06-29 19:05] #381 closed

[2021-07-01 20:49] ralph-tice opened #460 "typescript/ecs/fargate-service-with-efs/lambda.js broken with too many parameters in taskdef"
## :bug: Bug Report

### What is the problem?
`typescript/ecs/fargate-service-with-efs/lambda.js` passes the results of a `describeTaskDefinition` call into a `registerTaskDefinition` call which requires some parameters to be deleted.  There are two new parameters that need to be deleted.

### Reproduction Steps
Just `cdk deploy` the example.

### Verbose Log

[code]

### Environment

  - **CDK CL

[2021-07-02 15:40] jeffmaley opened #464 "Roll-your-own Neptune Workbench"
## :rocket: Feature Request

### General Information

* [X] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

I'd like to add a sample that provisions an EC2 instance, a VPC, a Security Group, and an ALB. The EC2 instance would include a user-data script to install AWS Graph Notebook and nginx and would include an I

[2021-07-02 23:58] peterwoodworth commented on #464
Hey @jeffmaley, if you have an example ready we'd love to review it! Can you share it with us?

[2021-07-06 21:30] jeffmaley commented on #464
@peterwoodworth Here's the link to what I have - https://github.com/jeffmaley/ec2graphnotebook

[2021-07-09 03:48] ryparker commented on #416
Resolved in https://github.com/aws-samples/aws-cdk-examples/pull/421

[2021-07-09 03:48] #416 closed

[2021-07-09 04:05] ryparker commented on #394
Just updated the static-site example with basically this implementation: https://github.com/aws-samples/aws-cdk-examples/blob/2933fd4e86c1f3b08a0108ec62f576f745aff130/typescript/static-site/index.ts#L39

We left the region hardcoded because the ACM certificate for a global CloudFront distribution must be requested in us-east-1.

Closing this but please comment or feel free to reopen if you believe

[2021-07-09 04:05] #394 closed

[2021-07-09 04:10] ryparker commented on #123
Done. Seems like we forgot to close this.

[2021-07-09 04:10] #123 closed

[2021-07-09 04:19] ryparker commented on #177
Can we close this?

[2021-07-09 10:10] richardhboyd commented on #177
sure

[2021-07-09 14:45] #177 closed

[2021-07-09 16:19] agiusalexandre opened #470 "CORS - ImageContentSearch project"
## :question: Guidance Question

### The Question
I've followed the installation steps of https://github.com/aws-samples/aws-cdk-examples/tree/master/python/image-content-search.
The Web page is correctly loaded on my brwoser but when I upload an image I got some CORS issue :

[code]

I've double checked the s3 bucket CORS definition :

[code]

### Environment

  - **CDK CLI Version:** 1.111.0 (bu

[2021-07-10 00:18] #195 closed

[2021-07-10 00:18] #276 closed

[2021-07-10 00:18] #362 closed

[2021-07-12 15:48] jeffmaley commented on #464
I wanted to follow-up and see if there was any movement.

[2021-07-15 20:33] SeanRenet opened #475 "Argument of type 'Function' is not assignable to parameter of type 'IFunction' (2 years later)"
## :bug: Bug Report

### What is the problem?
In the Typescript workshop, the example code throws the above error.

### Reproduction Steps
Just follow along with the workshop until you get to here.

[code]
### Verbose Log
% cdk diff
⨯ Unable to compile TypeScript:
lib/cdk-typescript-workshop-stack.ts:18:7 - error TS2322: Type 'Function' is not assignable to type 'IFunction'.
  Types of property 'r

[2021-07-19 19:42] peterwoodworth commented on #475
Thank you for submitting this bug report! This isn't an issue with the workshop code however. As you found out, this was due to mismatching versions in your package.json. You most likely started this project when 1.113.0 was the current version and then installed apigateway after 1.114.0 released. Unfortunate, but I'm glad you figured it out 😄

[2021-07-19 19:42] #475 closed

[2021-07-20 10:43] sebsonjura commented on #427
I could chip this in as typescript

[2021-07-20 15:25] #376 closed

[2021-07-20 15:30] peterwoodworth commented on #455
Hey @praveendp26, is this a general question or a request for an example of this to be added to the repo?

[2021-07-21 01:50] SeanRenet commented on #475
@peterwoodworth No.  I just started it 5 days ago.  It installs mismatching versions.

[2021-07-21 04:13] peterwoodworth commented on #475
@SeanRenet the cdk workshop doesn't determine what versions you install with npm. npm install will install whatever the latest version is at the time you run the command. It's likely that it was updated between when you started the workshop and when you installed apigateway. Version 1.114.0 released about 5 days ago

[2021-07-23 04:16] NGL321 commented on #447
Looks like this has actually been resolved. Closing

😸 😷

[2021-07-23 04:42] NGL321 commented on #454
This is an interesting example. Could you outline what parts of the CDK you think it helps clarify and outline beyond implementing L1 and L2 constructs in tandem?

With a good description, I think we would be happy to merge this

😸 😷

[2021-07-23 04:46] #447 closed

[2021-07-23 06:07] OksanaH commented on #454
Hi @NGL321 ,
Thanks for looking at this.

It helps to clarify how to define S3 Object Lambda and its components.

I think the description could be 'An implementation of S3 Object Lambda in CDK for C#'.

 Should I create a PR with the code from my repo?

Thanks

[2021-07-23 11:23] brmur opened #478 "Creating postGres full example (request)"
## :rocket: Feature Request

### General Information

* [ ] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description
Customer is creating a postgres database using AWS CDK with VPC, subnets, security groups and parameters, and has requested  actual full-example. With VPC's, db subnets, parameters

### Environment

  - **CDK

[2021-07-26 12:25] rahul-amzn commented on #308
Hi @githbsingh Planning to pick it up and can I use the latest CDK CLI version?

[2021-07-28 10:38] praveendp26 commented on #455
@peterwoodworth general question only, am closing issue

[2021-07-28 10:38] #455 closed

[2021-07-28 22:22] peterwoodworth commented on #478
A full example would take a while, and is currently not at the top of our priority list. If the customer needs help doing this soon, I'd suggest trying to work through it themselves, and/or ask for help on [Slack](https://join.slack.com/t/cdk-dev/shared_invite/zt-mso6p56d-qJp7SOTBvMaQuDrx7R2wHg), or post a guidance issue to the CDK Repo when stuck.

I am marking this issue as p2, which means that

[2021-07-29 10:10] brmur commented on #478
@peterwoodworth  Thanks for you response. I've shared this issue with the requester.

[2021-07-29 10:10] #478 closed

[2021-07-31 00:10] aarondodd opened #483 "CDK demo of Privatelink and RDS for cross-account access"
## :rocket: Feature Request

### General Information

* [X] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

Leverage the CDK to deploy a Privatelink-backed RDS HA cluster with a Lambda function to keep the NLB in sync with the primary node. Failover events trigger an update of the NLB through a Lambda subscription

[2021-08-04 07:13] azizmb commented on #386
An example would be great. Currently trying something like this, but causes dependencies with the Load Balancer stack, causing it to fail, if not both run together.

[2021-08-09 05:11] rahul-amzn commented on #308
@skinny85 Can you please suggest CDK CLI version?

[2021-08-09 18:19] asadana opened #486 "Using Lambda Layers with Lambda Functions in CDK"
## :rocket: Feature Request

### General Information

* [X] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

I'd like to add examples that demonstrate use of Lambda Layers with Lambda Functions as CDK components. In addition, demonstrate the language-specific folder structures that are used when create Lambda Layer

[2021-08-11 22:30] peterwoodworth commented on #486
We'd be happy to review an example if you create one!

[2021-08-15 15:47] mohamed-ali commented on #470
Hi,
I am facing the same issue. Is there an ETA for a fix?
Thanks.

[2021-08-16 07:12] mohamed-ali commented on #470
Hi,

The upload fails because the credentials that need to be passed to the form changed.

Edit the upload form input parameters following the example at the bottom of this page: https://boto3.amazonaws.com/v1/documentation/api/latest/guide/s3-presigned-urls.html#using-presigned-urls-to-perform-other-s3-operations

That should fix the issue.

[2021-08-16 17:27] dillonharlessCORE commented on #238
Really? I feel like this throws a pretty big wrench in the ideal that you can "keep your infrastructure and app code in the same repository", per the AWS CDK best practices document on AWS's website...

[2021-08-22 07:01] redixhumayun opened #489 "Code Pipeline Tutorial"
## :question: Guidance Question

### The Question
Is there a tutorial for setting up a basic Code Pipeline in this repository? I'm not particular about what the Pipeline does, a basic example of pulling from a GitHub repo, building using CodeBuild and deploying to an S3 bucket would do.

I am specifically interested in how to use Codestar Connection (like I can on the AWS console) to connect to my

[2021-08-23 19:21] skinny85 commented on #308
I would suggest using the latest CDK version 🙂.

[2021-08-25 08:11] terrificdm opened #490 "CDK deployment for CloudFront with L@E and CFF serving a Flask website"
## :rocket: Feature Request

### General Information

* [X] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

I'd like to add an example for using CDK to deploy CloudFront with Lambda@Edge and CloudFront Functions for a Flask website which consists of static content as well as dynamic content. And there are 3 scenar

[2021-08-25 12:09] dbroadhurst opened #491 "v2 aliasConfiguration depreciated"
aliasConfiguration CloudFrontWebDistribution is depreciated in CDK v2 libs. Can't seem to find information on how to resolve it.

[2021-08-30 14:45] sanjeevim opened #494 "SFTP Over the Internet with Custom IdP(Multiple AD authentication without Using AWS Directory Service)"
## :rocket: Feature Request
Hello AWS,

Good Morning!

I would like to contribute the solution that we deployed for SFTP with Self-Managed Custom AD(IdP) over the internet with multiple Security Parameter with NLB,WAF,SG,IAM Policy, S3 Bucket Policy and Local Network Firewall.

![image](https://user-images.githubusercontent.com/3786325/131357673-15b7a662-0295-4c9c-a76b-3959d568c2eb.png)

Requestin

[2021-08-30 14:51] sanjeevim commented on #494
Requesting you to provide the necessary privilege to contribute the code to aws-example
repository.

[2021-08-30 18:37] skinny85 commented on #494
@sanjeevim this is a public repository - you can contribute to it through a Pull Request without any additional privileges.

[2021-09-01 11:40] gshpychka commented on #402
@NGL321 any idea why this can happen?

[2021-09-04 01:50] alekasw opened #496 "An Ec2 Alarm that when triggered will create an SSM OpsItem"
## :rocket: Feature Request

### General Information

* [x] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description
This example shows how you can use the cdk to automate attaching an alarm to an ec2 instance at launch time, then when the alarm is triggered how it can create an systems manager opsitem with an associated ru

[2021-09-10 14:46] mikelhamer opened #498 "KeyPair in ec2 instance example"
In the example at typescript/ec2-instance/lib/ec2-cdk-stack.ts on line 17 there is this statement;

`key.grantReadOnPublicKey`

Is this supposed to be a function call or? Not sure what's going on here but my IDE doesn't like it.

[2021-09-13 10:09] shreyansh-zazz opened #499 "Separate lambda code with pipeline code"
## :question: Guidance Question

### The Question
I am trying to create a CI/CD via AWS CDK using CDK Pipeline, the only catch is I want my Lambda Function code to live in a different repository and my pipeline code into a different repository.
`app-pipeline` repo will contain cdk code for pipeline, stack creation and deployment
`app` repo will contain actual was lambda code

How do I pass github

[2021-09-13 12:32] navneethc opened #500 "Outdated Instructions for CDK Step Function Python Example"
## :bug: Bug Report

### What is the problem?
The [Step Function Python CDK example](https://github.com/aws-samples/aws-cdk-examples/blob/190b4251e20035c44afe5cc601ed7d92e598be00/python/stepfunctions/stepfunctions/stepfunctions_stack.py) uses the Task class, which according to the [API documentation](https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_stepfunctions/Task.html) is deprecat

[2021-09-15 10:37] poul-kg commented on #402
@BrandonMichaelWebb depends on how you're specifying your domain name, if you're doing it via `domainPrefix` than make sure it's globally unique. I had the same problem today, as I was trying to use `development` as my `domainPrefix` and looks like that https://development.auth.ap-southeast-2.amazoncognito.com domain is already taken by someone. So I've updated my `domainPrefix` to something like

[2021-09-19 18:03] aezazali1997 commented on #89
my issue was caused due to some extra dependency. after removing the dependency, the code started working without issues

[2021-09-20 08:53] febriy opened #505 "Pinpoint Events Streaming + Lambda + DynamoDB"
## :rocket: Feature Request

### General Information

* [X] :wave: I may be able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

I have created a POC for Pinpoint events streaming with Lambda and DynamoDB. Would like to share it so that others (including SAs) can use it in case they need to build a POC themselves / part of a larger pr

[2021-09-20 15:56] chejef opened #507 "ElastiCache using AWS CDK for Python/C#"
## :rocket: Feature Request

### General Information

* [X ] :wave: I am able to implement this feature request

* [ ] :warning: This feature might incur a breaking change

### Description

### Proposed Solution

### Environment

  - **CDK CLI Version:**
  - **Example:**
  - **Example Version:**
  - **OS:**
  - **Language:**

### Other information

[2021-09-28 18:44] ryparker commented on #507
Hey @chejef 👋🏻

Could you provide a description of what you are expecting?

[2021-09-28 18:47] ryparker commented on #505
Hey @febriy

Sounds great 👍🏻 . Feel free to open a PR with your example and we'll confirm it works on our end before approving. Make sure to follow the [contribution](https://github.com/aws-samples/aws-cdk-examples/blob/81a63190e9bbd538cb6e9a66a727e7cd70b1a8d3/CONTRIBUTING.md) guidelines too 😄 .

[2021-09-28 19:06] chejef commented on #507
Created this feature request to start working on a sample code using Python and C# for provisioning the AWS ElastiCache cluster.

From: Ryan Parker ***@***.***>
Sent: Tuesday, September 28, 2021 2:45 PM
To: aws-samples/aws-cdk-examples ***@***.***>
Cc: Chen, Jeff ***@***.***>; Mention ***@***.***>
Subject: Re: [aws-samples/aws-cdk-examples] ElastiCache using AWS CDK for Python/C# (#507)

Hey @chej

[2021-09-28 19:09] ryparker commented on #507
Thanks. It looks like you had a lot of good info in your issue description although we couldn't see it because it was wrapped in a comment ``.

[2021-09-28 19:22] ryparker commented on #500
Hey 👋🏻

Thanks for bringing this to our attention @navneethc.

I labeled this as p1 which means it has been prioritized as important, although please keep in mind that we do have a large number of issues at the moment. It may be some time before we are able to solve this particular issue. We use +1s to help us prioritize our work, and as always we are happy to take contributions if anyone is inter

[2021-09-28 19:24] ryparker commented on #496
Hey @alekasw 👋🏻

Thanks for opening this issue.

Marking this as p2 which means that we are unable to work on this immediately. We use +1s to help us prioritize our work, and as always we are happy to take contributions if anyone is interested to pick this up and submit a PR (please make sure to follow our [contribution guidelines](https://github.com/aws/aws-cdk/blob/master/CONTRIBUTING.md).) :pra

[2021-09-28 19:30] ryparker commented on #494
Hey @sanjeevim 👋🏻

As mentioned above you should be able to fork this repository, commit changes, then open a pull request for this repository. Check out our [contributing document](https://github.com/aws-samples/aws-cdk-examples/blob/81a63190e9bbd538cb6e9a66a727e7cd70b1a8d3/CONTRIBUTING.md) for useful information such as how to [fork a github repo](https://help.github.com/articles/fork-a-repo/).

[2021-09-28 19:45] ryparker commented on #491
@dbroadhurst Could you provide a link to the example pertaining to this bug?

[2021-09-28 20:00] ryparker commented on #491
The [`Distribution`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-cloudfront.Distribution.html) API is currently being built to replace the existing [`CloudFrontWebDistribution`](https://docs.aws.amazon.com/cdk/api/latest/docs/@aws-cdk_aws-cloudfront.CloudFrontWebDistribution.html) API. More info on that [in our docs](https://docs.aws.amazon.com/cdk/api/latest/docs/aws-cloudfront-r

[2021-09-28 20:01] ryparker commented on #491
Changed to guidance as this does not seem to be a bug. Feel free to respond if you believe otherwise.

[2021-09-28 20:04] ryparker commented on #490
Hey @terrificdm 👋🏻

Thanks for opening the feature request.

I'm labeling this as a p2 which means that we are unable to work on this immediately. We use +1s to help us prioritize our work, and as always we are happy to take contributions if anyone is interested to pick this up and submit a PR (please make sure to follow our [contribution guidelines](https://github.com/aws/aws-cdk/blob/master/CONT

[2021-09-28 20:09] ryparker commented on #483
Hey @aarondodd 👋🏻

Thanks for opening this issue and a resolving PR.

Marking this as p2 which means that we are unable to work on this immediately. However since you've created a PR we should be able to approve it as soon as we have bandwith to test your example.

[2021-09-28 20:15] ryparker commented on #460
Hey @ralph-tice :wave:

Thanks for bringing this to our attention and for opening a PR with the fix. I'm labeling this as p1 which means it has been prioritized as important. We'll get your PR reviewed once we have bandwidth.

[2021-09-28 20:23] dbroadhurst commented on #491
@ryparker Thanks, I'll give the alternate a try.

I submitted because the example wouldn't build with CDK v2 but looks like the example has now changed.

[2021-09-28 21:46] #460 closed

[2021-09-28 21:52] navneethc commented on #500
Hi @ryparker, thanks for the response. I believe there's already been a PR (#502) for this issue.

[2021-09-29 00:45] #486 closed

[2021-09-29 01:33] #434 closed

[2021-09-30 21:53] #427 closed

[2021-09-30 22:38] ryparker commented on #500
Closing after PR was merged: https://github.com/aws-samples/aws-cdk-examples/pull/502

[2021-09-30 22:38] #500 closed

[2021-10-01 02:09] #388 closed

[2021-10-08 16:07] rjesh-git opened #519 "rekognition-lambda-s3-trigger: TypeScript version"
### General Information

Adding TypeScript version for existing Python example for **rekognition-lambda-s3-trigger**.

### Proposed Solution

Python version - https://github.com/aws-samples/aws-cdk-examples/tree/master/python/rekognition-lambda-s3-trigger

### Language

Typescript

### Other information

_No response_

### Acknowledge

- [X] I may be able to implement this feature request
- [ ] Th

[2021-10-08 16:13] aabragan opened #520 "CDK Example: S3 event -> SNS publish -> SQS subscription -> Lambda listener"
### General Information

## Overview
A common pattern that I have used to create a resilient way to trigger a lambda when an event occurs on S3 is to chain the following services:
- S3
- SNS
- SQS
- Lambda

## Justification
The reason I believe this is a good example is that it illustrates the following concepts:
- Chaining Services
- Disconnected Event Notifications and Handling
- Resilient stora

[2021-10-08 20:12] mastephens opened #522 "CDK Example: C# version of existing Lambda Cron example"
### General Information

This CDK example construct will provide a .NET example that matches the [Typescript](https://github.com/aws-samples/aws-cdk-examples/tree/master/typescript/lambda-cron) and [Python](https://github.com/aws-samples/aws-cdk-examples/tree/master/python/lambda-cron) examples.

### Proposed Solution

Exact copy of the [Typescript](https://github.com/aws-samples/aws-cdk-examples/

[2021-10-11 13:13] #522 closed, assigned to nobody

[2021-10-11 15:37] asadana opened #524 "S3 Object Lambda: Add new examples for creating Object Lambda and Access Point"
### General Information

I'd like to add examples that demonstrate how set and deploy Object Lambda and Object Lambda Access Point with CDK components. In addition, demonstrate how the Lambda can be used to retrieve the object and transform it to provide limited information instead of the whole object.

Relevant AWS docs can be seen [here](https://docs.aws.amazon.com/AmazonS3/latest/userguide/tran

[2021-10-11 17:28] github4es opened #527 "aws_cdk.pipelines.CdkStage: expose Role Property"
### General Information

I need to add cross-account role assume permissions to the role that my Pipeline Stage creates. My stage definition is below.  My pipeline runs on one aws account and my integration tests will run against a separate aws account.

[code]

### Proposed Solution

would be great if I had `pipeline.stage.add_to_policy` construct where I could define an IAM policy.

It would als

[2021-10-11 18:04] mittalgv opened #528 "CDK example for Stackset Deployer to OUs using Python"
### General Information

A CDK python construct to build a stackset and deploy it different OUs.

### Proposed Solution

Going to build a sample resource and deploy it to a list of OUs (supplied via a config file). The stackset deployer will synth the CDK resource and  deploy it to OUs by reading the information from a config file via Stackset.

### Language

Python

### Other information

_No res

[2021-10-12 00:55] asadana commented on #524
I've updated the Issue description with both PR links.

Python Object Lambda example PR: https://github.com/aws-samples/aws-cdk-examples/pull/525
Typescript Object Lambda example PR: https://github.com/aws-samples/aws-cdk-examples/pull/529

[2021-10-14 13:13] mastephens opened #532 "(csharp): Add CDK Example for ApiGateway, Lambda, Dynamo, CORS"
### General Information

Added a C# CDK example that mirrors the existing [Typescript example](https://github.com/aws-samples/aws-cdk-examples/tree/master/typescript/api-cors-lambda-crud-dynamodb).

The Lambda functions are NodeJs still in order to keep this example matching the existing example in the other language.

### Proposed Solution

Create a C# example that mirrors the [Typescript example

[2021-10-15 13:43] davidahopp opened #534 "(@aws-cdk/aws-elasticache): Examples requested"
### General Information

Currently there are no examples building a CfnCacheCluster. During my building of my cluster, I ran into a poorly documented problem around assignment of the clusters subnet group. Basic examples could help solve this problem.

### Proposed Solution

An issue was created on the primary aws-cdk project that helped me solve my problem and provided an overall great example of

[2021-10-15 20:55] HarryCaveMan opened #535 "Please add ECR examples"
### General Information

I had to dig around and found an ECR example for Sagemaker Here[https://github.com/aws-samples/amazon-sagemaker-cdk-examples/blob/master/dask-fargate/.env/lib/python3.6/site-packages/aws_cdk/aws_ecr/__init__.py#L62](url) which is quite complex.

### Proposed Solution

Add the feature pls

### Language

Python

### Other information

_No response_

### Acknowledge

- [ ] I

[2021-10-16 18:47] mf523 opened #536 "cicd-pipeline example proposal"
Leveraging CDK to create aws managed CICD pipeline automatically.

* Allowing creating CICD pipeline with managed service CodeCommit/CodeBuild/CodePipeline easily and quickly.
* Allowing CICD pipeline definition and service as code.
* Advocating CDK and managed CICD pipeline

[2021-10-18 12:59] tdcsrq opened #538 "(cdk go): Sample with detailed explanation of usage"
### General Information

There are very few golang examples in this repo. I understand that go support is in preview. However, I think that a more detailed example will help show users the power of using go for future CDK work.

### Proposed Solution

I have created a PR to provide a detailed walkthrough of using the CDK with go. I would respectfully request that it be reviewed.

Here's a link to

[2021-10-18 20:57] DaveB93 opened #539 "python/new-vpc-alb-asg-mysql : rds subnet groups are not assigned to the DB subnet"
### What is the problem?

In the python example new-vpc-alb-asg-mysql example, the RDS is created in the wrong subnets.

https://github.com/aws-samples/aws-cdk-examples/blob/64c1512ac78dfd3f5ddabb5426a9962dbc11be15/python/new-vpc-alb-asg-mysql/cdk_vpc_ec2/cdk_rds_stack.py#L39

it should have a line like so
`                                             vpc_subnets=ec2.SubnetSelection(subnet_group_n

[2021-10-18 22:31] 12Manoz opened #540 "python: automated log validations for cloudtrail logs using lambda."
### General Information

Cloud trail logs can be validated using api calls, when log validation is enabled.

Lambda can be used to automate this process for auditing and integrity of logs validation purpose to avoid and notify if cloudtrail logs has been compromised or accidentally changed.

This is valuable for customer to achieve compliance for integrity of api call logs especially with financia

[2021-10-20 13:28] rix0rrr commented on #527
Switch to using `CodeBuildStep`: https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.pipelines/README.html#customizing-codebuild-projects

[2021-10-20 13:28] #527 closed

[2021-10-20 16:33] aws-josterm opened #541 "OpenAPI document driven RestAPI Design in AWS CDK for Python/Typescript"
### Feature Request

**General Information**

- [x]   👋 I am able to implement this feature request
- [ ]  ⚠️ This feature might incur a breaking change

**Description**

An API Gateway/Lambda Rest API is created in a stack using an OpenAPI definition file to define the API methods. This will include API Gateway request validators and Integration within the definition file. It will eliminate the n

[2021-10-20 21:36] #541 closed, assigned to nobody

[2021-10-20 21:39] aws-josterm opened #542 "OpenAPI document driven RestAPI Design in AWS CDK for Python/Typescript/C#"
### General Information

An API Gateway/Lambda Rest API is created in a stack using an OpenAPI definition file to define the API methods. This will include API Gateway request validators and Integration within the definition file. It will eliminate the need to define the API methods in the stack file. Example code will be available in Typescript and Python.

### Proposed Solution

This solution pr

[2021-10-24 21:43] ScottBrenner opened #544 "(README): Add Go Examples"
### General Information

Add https://github.com/aws-samples/aws-cdk-examples/tree/master/go to https://github.com/aws-samples/aws-cdk-examples#examples-

### Proposed Solution

https://github.com/aws-samples/aws-cdk-examples/pull/543

### Language

Go

### Other information

_No response_

### Acknowledge

- [X] I may be able to implement this feature request
- [ ] This feature might incur a break

[2021-10-28 17:20] vinodabh opened #552 "Neptune: Add CDK example for setting up a Neptune cluster with a SageMaker Notebook workbench associated to it"
### General Information

Graph databases are very popular now, because the barrier-to-entry has been lowered by new offerings like Amazon Neptune. Amazon Neptune is a fully managed graph database that integrates well with other AWS services. Typically a SageMaker Notebook workbench configured with a specific lifecycle configuration is used to interact with the graph database. A CDK example of how

[2021-10-28 19:01] vinodabh opened #553 "AWS Transfer Family: CDK example to create a fully managed SFTP server to transfer files directly into and out of Amazon S3"
### General Information

The AWS Transfer Family offers fully managed support for the transfer of files over SFTP, FTPS, and FTP directly into and out of Amazon S3 or Amazon EFS. Let's create a CDK example of how to configure an SFTP server using AWS Transfer Family

### Proposed Solution

The CDK solution will spin up the following components:

- Transfer Family SFTP server
- S3 bucket
- IAM role

[2021-10-29 14:53] #538 closed, assigned to nobody

[2021-10-29 20:14] SaulMagnusson opened #556 "(aws-cdk-go): static-site example"
### General Information

I've written a stable example in aws-cdk-go that launches a secure static site. The example is also present in the other languages satisfying the Language Parity requirement for examples, and also has some explanation of syntax particular to go explained in the README

### Proposed Solution

I've written the example secure-site and a README.md in this repo:

https://github

[2021-11-02 15:07] njlynch opened #558 "Create CDKv2 samples"
### General Information

In advance of the CDKv2 GA launch, we should adopt a good number of samples (per language) to CDKv2.

### Proposed Solution

Convert samples!

### Language

Typescript, Python, .NET, Java, Go

### Other information

_No response_

### Acknowledge

- [X] I may be able to implement this feature request
- [ ] This feature might incur a breaking change

[2021-11-05 16:11] YamiDaisuke opened #561 "(module name): short issue description"
### Guidance Question

Custom Resource GetAtt not working

### The Question

Hi!, I'm trying to use a CustomResource to create a MediaTailor channel, so far the scripts go well and the channel gets created but I have two issues:

## First problem:
From my lambda function I'm returning the following object:
[code]

When I try to use `resource.getAtt('HLS').toString()` I get the following error:
[co

[2021-11-07 01:13] ajbeach2 opened #562 "Python ECS Example does not register EC2 instances with the ECS Cluster"
### What is the problem?

https://github.com/aws-samples/aws-cdk-examples/blob/master/python/ecs/ecs-service-with-advanced-alb-config/app.py

The Python ECS example does not work as expected. The ECS cluster is created and the auto scaling groups are created, but no ec2 instances are registered.

Additionally, the STANDARD5 (m5.micro) are not available in us-east-1.

### Reproduction Steps

Run th

[2021-11-09 20:52] ryparker commented on #539
Hey @DaveB93 👋🏻

Thanks for bringing this to our attention.

PR here: https://github.com/aws-samples/aws-cdk-examples/pull/566

[2021-11-09 21:32] #539 closed

[2021-11-09 21:33] #491 closed

[2021-11-17 20:51] dpmccabe opened #567 "aws_ecs: ScalableTaskCount.scale_on_request_count functionality unnclear"
### Guidance Question

What is the time interval for ScalableTaskCount.scale_on_request_count?

### The Question

[code]

The [ScalableTaskCount.scale_on_request_count](https://docs.aws.amazon.com/cdk/api/latest/python/aws_cdk.aws_ecs/ScalableTaskCount.html#aws_cdk.aws_ecs.ScalableTaskCount.scale_on_request_count) method requires an argument `requests_per_target` but what is the time interval bein

[2021-12-02 21:46] tomjones2a opened #577 "/python/custom-resource - requirements.txt empty"
### What is the problem?

Requirements.txt is empty

### Reproduction Steps

pip install -r requirements.txt.

### What did you expect to happen?

requirements to be present and install.

### What actually happened?

Nothing is installed.

### CDK CLI Version

1.134.0

### Framework Version

_No response_

### Node.js Version

NA

### OS

Mac

### Language

Python

### Language Version

_No respon

[2021-12-08 08:01] NGL321 commented on #577
Could you indicate where you are experiencing this? Python will resolve dependencies automatically from the imports in the `*.py` files as long as the directory is specified in the requirements file as editable `-e .`. See [here](https://pip.pypa.io/en/stable/cli/pip_install/)

[2021-12-13 20:56] Molaire commented on #499
Hey @shreyansh-zazz , I intend to do the same and was wondering if you continued with that goal, and how you did it!

[2021-12-17 06:01] #577 closed

[2021-12-17 16:46] akashv-builder commented on #499
I did it recently and was successful in it.

[2021-12-19 07:28] Satheez opened #581 "PHP library support"
### Guidance Question

Amazon MQ connection parameters to be provided

### The Question

I'm trying to connect 'Amazon MQ' using PHP
But due to SSL certification error, I'm unable to connect (locally working since the SSL is turned off)

I've used the following library https://github.com/php-amqplib/php-amqplib

Can you please guild me how to provide/what are the data to be provided to 'Amazon MQ'

[2021-12-23 18:59] mhafeezajh opened #582 "EC2 Instance Creation with CDK"
### General Information

This example will create

### Proposed Solution

I am proposing to build a CDK sample in csharp that illustrates how to create EC2 instance.

### Language

.NET

### Other information

_No response_

### Acknowledge

- [X] I may be able to implement this feature request
- [ ] This feature might incur a breaking change

[2021-12-25 23:03] coderyworld opened #584 "Wrong pameter type for cloudfront.ViewerCertificate.fromAcmCertificate"
I've jost got the following error for the proiect I just checked out: aws-cdk-examples/typescript/static-site/
I get the following error on `npm run build`
I have installed a cdk version 2.3.0 and a node version v16.13.1.

[code]

[2021-12-27 16:17] Fallenstedt commented on #584
I encountered this too. One way to get around it is to apply the certificate's removal policy when the creating the viewer certificate.

`applyRemovalPolicy: certificate.applyRemovalPolicy,`

[2021-12-29 03:34] anggras opened #585 "(ecs): ecs-service-with-advanced-alb-config example does not work"
### What is the problem?

Upon `cdk deploy`, the ECS service stuck and unable to proceed with message:

### Reproduction Steps

1. Clone the ecs-service-with-advanced-alb-config example
2. Install the requirements
3. Run `cdk deploy`

### What did you expect to happen?

The sample ECS service should be deployed successfully

### What actually happened?

The deployment is stuck and unable to comple

[2021-12-30 11:13] njlynch opened #587 "dynamodb-lambda: local start-lambda fails to mount a lambda function sub-directory"
Created on behalf of @dmitriierkineroad from https://github.com/aws/aws-cdk/issues/18088

### What is the problem?

For this example https://github.com/aws-samples/aws-cdk-examples/tree/master/python/dynamodb-lambda sam fails to run the consumer lambda function:

...
[code]

### Reproduction Steps

1. download https://github.com/aws-samples/aws-cdk-examples/tree/master/python/dynamodb-lambda
2. cd

[2022-01-01 13:05] sivaramsajeev opened #588 "Golang example for EC2 instance creation"
### General Information

Golang example for EC2 instance creation

### Proposed Solution

I have raised a PR with example

### Language

Go

### Other information

_No response_

### Acknowledge

- [X] I may be able to implement this feature request
- [ ] This feature might incur a breaking change

[2022-01-01 18:45] fynnfluegge opened #590 "CDK Go Example: static-site"
**🚀 Feature Request**
-----------------------

**General Information**
- [x] 👋  I implemented a solution with cdk-tests and I made a PR #591
- [ ] ⚠️ This feature might incur a breaking change

**Description**
I'd like to add a golang static-site example.

**Proposed Solution**
I created a static-site solution using S3, CloudFront, Certificate Manager and Route53.

**Environment**
CDK CLI Version:

[2022-01-02 13:31] sivaramsajeev opened #592 "(golang): Add S3 object upload triggering lambda example"
### General Information

Add S3 upload trigger lambda example

### Proposed Solution

I have raised PR to add the example

### Language

Go

### Other information

_No response_

### Acknowledge

- [X] I may be able to implement this feature request
- [ ] This feature might incur a breaking change

[2022-01-04 16:12] asadana commented on #524
@peterwoodworth @ryparker
Could someone please take a look at this, there's not a lot of examples out there for S3 Object Lambda, would love to have this more discoverable for community and clients, thank you!

[2022-01-04 21:21] #524 closed

[2022-01-09 08:52] fynnfluegge commented on #590
Somehow the labels disappeared and I cannot add them again. Should be a feature-request label.

[2022-01-13 23:55] mackalex opened #595 "Example for Service Catalog with an EC2 Product Stack"
### General Information

This is a CDK example proposed by Service Catalog which will demonstrate the common Service Catalog usage pattern of creating a catalog of products with added governance.

The resources to be created by this example:
- Service Catalog Portfolio
- Service Catalog Product with multiple versions consisting of:
  - EC2 Instance w/ Amazon Linux AMI
  - VPC with public subnet

[2022-01-14 08:07] b-akhil opened #597 "Example for Glue Databrew"
Since GlueDatabrew service is recently launched, I would like to add an example CDK stack which would create Glue Databrew resources.

- https://aws.amazon.com/glue/features/databrew/
- https://docs.aws.amazon.com/cdk/api/v1/docs/aws-databrew-readme.html

This contribution would be a starting point for developers who would be working on CDK to create Glue Databrew resources

[2022-01-14 08:15] b-akhil opened #598 "Example for Glue Databrew"
Since GlueDatabrew service is recently launched, I would like to add an example CDK stack which would create Glue Databrew resources.

- https://aws.amazon.com/glue/features/databrew/
- https://docs.aws.amazon.com/cdk/api/v1/docs/aws-databrew-readme.html

This contribution would be a starting point for developers who would be working on CDK to create Glue Databrew resources

[2022-01-14 08:15] #597 closed

[2022-01-14 08:16] #598 closed

[2022-01-14 08:16] b-akhil opened #599 "Example for Glue Databrew"
Since GlueDatabrew service is recently launched, I would like to add an example CDK stack which would create Glue Databrew resources.

- https://aws.amazon.com/glue/features/databrew/
- https://docs.aws.amazon.com/cdk/api/v1/docs/aws-databrew-readme.html

This contribution would be a starting point for developers who would be working on CDK to create Glue Databrew resources

[2022-01-15 01:27] NGL321 commented on #595
Hi @mackalex,

Thank you for checking in ahead of time. This sounds like a useful example to add to the repo. If I have a concern it is about the number of elements in a single example (despite them all being intricately linked) and whether it will end up being too large to be helpful. That said, this is something that can be resolved during a review of the example itself, so whenever you are read

[2022-01-18 15:06] IamFlowZ opened #602 "(Typescript): readme typo"
### What is the problem?

Typo in the readme

### Reproduction Steps

Look at the readme. See the typo.

### What did you expect to happen?

Not have a typo.

### What actually happened?

There's a typo

### CDK CLI Version

all i guess?

### Framework Version

_No response_

### Node.js Version

all

### OS

any

### Language

Typescript

### Language Version

any

### Other information

_No resp

[2022-01-24 05:53] bkchy commented on #561
We are also having this issue but we are using 2.8.0:

    "aws-cdk": "^2.8.0",
    "aws-cdk-lib": "^2.8.0",

Is there any update on this or has anyone found a workaround?

[2022-01-26 07:09] NGL321 commented on #602
Hi, thank you for taking the time to report a typo, but its unclear which README you are talking about, much less what typo. Could you perhaps specify?

[2022-01-27 04:26] elginlam-amazon commented on #402
You can use the node.addr property to create a unique domainPrefix.

[code]

[2022-01-31 14:38] IamFlowZ commented on #602
typescript/README.md
In the Table of Contents at the bottom,

I also opened which fixes it
https://github.com/aws-samples/aws-cdk-examples/pull/603

[2022-02-02 11:14] zaremb opened #608 "sagemaker-hosting-multiple-models: Creating docker image for sagemaker endpoint and deploying multiple models to it"
### General Information

I have created python cdk example of how to host multiple models on the same Sagemaker endpoint. It adds to the examples repo:
1. How to create and push docker image from local dockerfile
2. How to upload models to S3
2. Create Sagemaker role
3. Create Sagemaker model from S3 location
4. Create Sagemaker multi-model endpoint configuration
5. Deploy endpoint

Additionally,

[2022-02-02 14:54] johns1342 commented on #254
To save future travelers that land here trying understand how to wire up dynamic environment variables wtih `aws_events_targets.EcsTask`, here are the changes I made to @shaftoe's example to get it to work.  It uses **`aws_events.EventField.from_path()`** instead of **`aws_events.RuleTargetInput()`** as suggested above:

[code]

It would be quite helpful if the [doc string](https://github.com/aws/

[2022-02-05 04:41] lschierer opened #609 "(aws-cdk-examples): please update the static-site example to use the modern cloudfront Distribution API"
### General Information

https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_cloudfront-readme.html#cloudfrontwebdistribution-api states that "The CloudFrontWebDistribution construct is the original construct written for working with CloudFront distributions. Users are encouraged to use the newer Distribution instead, as it has a simpler interface and receives new features faster." However

[2022-02-07 23:07] kornicameister opened #610 "(pipelines): Adding an example that shows how to write smoke test for deployed infrastructure"
### General Information

Original issue: https://github.com/aws/aws-cdk/issues/18580

---

Basically what I would like to propose to be added is `pipelines.CodePipeline` example that contains post-stage step executing a smoke test suite (multiple tests) against just deployed infrastructure. An idea is to extend currently existing examples that just run simple `curl` with something more advanced li

[2022-02-07 23:38] peterwoodworth commented on #609
Hey, thank you for calling this out @lschierer

I'll put this on my plate to do some point this week 🙂

[2022-02-07 23:39] peterwoodworth commented on #610
Let me know if you'd like any assistance with this 🙂

[2022-02-08 12:27] mcqj opened #611 "Add examples in Javascript"
### General Information

There are no Javascript examples - it would be great to have some.
While Typescript examples can act as a stopgap, they aren't ideal.

### Proposed Solution

Add Javascript support

### Language

Typescript

### Other information

Add Javascript examples.
Interesting that the above dropdown doesn't offer JS as a choice, so I had to select Typescript to enable form submissi

[2022-02-13 06:01] #236 closed

[2022-02-14 18:15] mitchboulay opened #613 "(aws_apigatewayv2.HttpLambdaIntegration): add_routes integration to subroute doesn't take affect"
### What is the problem?

Given (Pre configuration required):
`from aws_cdk.aws_apigatewayv2_integrations import HttpLambdaIntegration`
API gateway configured with routes & subroutes, connected to a lambda function via CDK (Python)

When (Action taken): Function looked up via `Function.from_function_arn` and applied to integration parameter of `http_api.add_routes`

### Reproduction Steps

app.py

[2022-02-15 21:31] #544 closed

[2022-02-16 00:51] #584 closed

[2022-02-17 21:21] jambasil opened #614 "(typescript): An example using EventBridge rule to schedule Lambda function"
### Description
Is it possible to get an example for how to set up an Amazon EventBridge scheduled rule to execute an AWS Lambda function.

### Proposed Solution
Create an example for the pattern of creating a scheduled Lambda using EventBridge.

### Acknowledge
- [x] I may be able to implement this feature request
- [ ] This feature might incur a breaking change

[2022-02-17 21:24] jambasil commented on #614
Feel free to assign this to me. Thanks.

[2022-02-17 22:39] jambasil opened #615 "(typescript): An example using EventBridge rule to schedule Lambda function"
### General Information

Provide an example for how to set up an Amazon EventBridge scheduled rule to execute an AWS Lambda function.

### Proposed Solution

Create an example for the pattern of creating a scheduled Lambda using EventBridge.

### Language

Typescript

### Other information

_No response_

### Acknowledge

- [X] I may be able to implement this feature request
- [ ] This feature mig

[2022-02-17 22:39] #614 closed

[2022-02-17 23:50] jambasil opened #616 "(java): lambda-cron example fails at 'cdk deploy'"
### What is the problem?

When following the example [lambda-cron](https://github.com/aws-samples/aws-cdk-examples/tree/master/java/lambda-cron/) `cdk deploy` fails due to unsupported python version2.7

### Reproduction Steps

Follow the example [lambda-cron](https://github.com/aws-samples/aws-cdk-examples/tree/master/java/lambda-cron/) `cdk deploy` fails.

### What did you expect to happen?

`cdk

[2022-02-18 07:42] sagarkukrejagit opened #618 "Error for Static site"
Hi Team,

I am getting an error saying [Error at /MyStaticSite/StaticSite] Found zones: [] for dns:mystaticsite.com, privateZone:undefined, vpcId:undefined, but wanted exactly 1 zone
Found errors while i do cdk synth

I have created a private hosted zone named mystaticsite.com in my AWS account and have linked the same in the code

Kindly look into it and guide me on the same.

Thank You.

Regards

[2022-02-18 19:38] NGL321 commented on #581
Sorry for the delayed response on this issue. Unfortunately, we do not presently support PHP within the CDK and do not have plans to implement language support at the moment. I recommend you check out the [AWS PHP SDK](https://github.com/aws/aws-sdk-php) for interfacing with AWS services in PHP

[2022-02-18 19:38] #581 closed

[2022-02-18 20:05] NGL321 commented on #567
Hey @dpmccabe,

Sorry for the lack of response here. To be completely honest, neither the Cloudformation documentation nor the CDK documentation make entirely clear what the count interval is, so it is safe to say that said interval is determined by the AWS Autoscaling service itself. Said [documentation](https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-scaling-target-tracking.html) indica

[2022-02-18 20:11] NGL321 commented on #489
Hey @redixhumayun,

Sorry for the long delay here. There is a comprehensive tutorial on setting up a pipeline with CDK in the [CDK Workshop](https://cdkworkshop.com) as well as a number of community-written blog posts on the subject. As far as utilizing Codestar, we do not recommend it but do offer [resources](https://docs.aws.amazon.com/cdk/api/v1/docs/aws-codestar-readme.html) for it in the Cons

[2022-02-18 20:24] NGL321 commented on #498
The `cdk-ec2-key-pair` library imported for this example is a community-written/contributed construct, so you need to reference that codebase rather than the CDK library itself. As you can see [here](https://github.com/udondan/cdk-ec2-key-pair/blob/master/lib/index.ts#L340-L345), the method `grantReadOnPublicKey(grantee: IGrantable)` is simply a custom `grantRead()` method with a default arn provi

[2022-02-21 19:52] #520 closed

[2022-02-21 21:16] aisflat439 commented on #609
@peterwoodworth when you take a look at this, can you also add in making static site work with the following

[code]

The issue here that we're naming `StaticSite` and talking about hosting. Mostly, people would think that you can have a file at `/blog/index.html` and it wouldn't `403` because we're using the static site construct. however, this doesn't work without a cloudfront edge function.

Yo

[2022-02-21 21:21] peterwoodworth commented on #609
Hey, thanks for pinging me. I've actually since written a guide on [migrating](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_cloudfront-readme.html#migrating-from-the-original-cloudfrontwebdistribution-to-the-newer-distribution-construct) between these constructs. I don't think I'll have time to work on this myself in the near future, but I'll be happy to take a look at a PR if someo

[2022-02-24 01:47] askkhan84 opened #620 "CDK DNS Firewall: DNS Firewall CDK example"
### General Information

## Overview
A CDK app for DNS firewall that is configurable through a config file to manage settings and domains. Configurable options will include logging, mode (block, alert), Cloudwatch alarms for blocked domains.
Services used:
- DNS firewall
- CloudWatch metric filters
- CloudWatch alarm

### Proposed Solution

Proposing to build a CDK app that implements DNS firewall

[2022-02-24 06:01] #489 closed

[2022-02-24 06:01] #499 closed

[2022-02-24 06:01] #567 closed

[2022-03-01 20:23] oflouis commented on #374
Feel free to assign this issue to me if you don't mind.
In my project, I'm using AWS OpenSearch which I have built with CDK.
I can give you an example of included these:
- using private VPC
- using basic authentication for security - master user
- adding access control - security group and policy statement

[2022-03-03 20:30] rotemuri opened #622 "forecast-pipeline"
## General Information

### Overview
A CDK app for running Amazon Forecast steps in a stepfunction pipeline. this can be connected to an app for reusability and automation of the forecast steps.

### Services used:
- Amazon Forecast
- IAM
- S3
- Lambda
- Step Function

### Language
Typescript

### Other information
No response

### Acknowledge
- [x] I may be able to implement this feature request

[2022-03-08 22:35] tszshingt opened #623 "Python example to use custom resource, Lambda, and RDS to customize database at resource creation and update"
### General Information
An example to create databases, or configure roles and database permissions at resource creation/update with CDK custom resource, Lambda, and RDS

### Proposed Solution
Create an example for the pattern of creating custom database using CDK custom resource, Lambda, and RDS

### Language
Python

[2022-03-08 22:43] tszshingt commented on #623
Sorry I don't know why the `feature-request` and `needs-triage` labels are missing after I clicked submit. I don't seem to be able to add labels now...

[2022-03-09 21:10] #595 closed

[2022-03-09 21:39] #519 closed

[2022-03-10 03:27] #613 closed

[2022-03-10 15:56] its-mirus-lu commented on #609
@peterwoodworth I'd be able to take a look this weekend

[2022-03-10 19:06] peterwoodworth commented on #609
Great, ping me if you run into any issues / when you're ready for a review

[2022-03-10 20:44] its-mirus-lu commented on #609
@peterwoodworth that migration document was really easy to follow.  The PR is here: https://github.com/aws-samples/aws-cdk-examples/pull/624 have a look when you have a moment.

[2022-03-10 21:49] its-mirus-lu commented on #585
There's another issue with the example... it's attempting to use instance type m5.micro (https://github.com/aws-samples/aws-cdk-examples/blob/752df6302e534a7df22a809536c588deaf444c4d/python/ecs/ecs-service-with-advanced-alb-config/app.py#L26) when there isn't an instance size 'micro' for family m5: https://aws.amazon.com/ec2/instance-types/m5/

[2022-03-10 21:51] #609 closed